
<div id="pageBody">

    <div id="col_left">
<fb:request_form action="?p=invite&c=skipped&submit" method="POST" invite="true" type="Hot Dish" content="Climate change sucks, but we can do something about it. Add the Grist Hot Dish application to help save the planet __ and earn awesome rewards! &lt;fb:req_choice url=&quot;http://apps.facebook.com/hotdish?p=team&amp;refuid=&quot; label=&quot;Add Hot Dish!&quot; /&gt;"><fb:multi_friend_selector rows="10" max="50"  showborder="false"  actiontext="Invite your friends to Hot Dish"> </fb:request_form>

<fb:success><fb:message>Success header</fb:message>This is my message</fb:success>	

		<div id="wideTipPanel" class="panel_blue">
			<div class="panelBar clearfix">
				<h2>Join the conversation</h2>
				<div class="bar_link"><a href="#">Post a story</a></div>
		</div><!--end "panelBar"-->

		<div class="wideTipLeft">
            <p>The news in Climate Change App is driven by the editors at <a href="#">Grist.org</a>, and especially by  you, the community. Use this chance to have your voice heard, and improcommunity at the same time.</p>
            <p class="bump10"><a class="btn_orange" href="?p=postStory">Post a Story</a></p>
          </div><!--end "wideTipLeft"-->
          <div class="wideTipRight">
            <p class="bold">Earn points from your activity:</p>

			<div class="pointsTable">
                  <table cellspacing="0">
                    <tbody>
                      <tr>
                        <td><a href="?p=postStory">Post a story</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td>Share a story</td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="?p=invite">Invite more friends</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="?p=">Add bookmark tool</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                      </tr>
                    </tbody>
                  </table>
			</div><!--end "pointsTable"-->
		</div><!--end "wideTipLeft"-->
	</div><!--end "wideTipPanel"-->
	
	
</div><!--end "col_left"-->


<div id="col_right">
    
    <div id="profileSummary" class="panel_orange">
        <div class="panelBar clearfix">
			<h2>Action Team Summary</h2><div class="bar_link"><a href="#">Edit</a></div>
        </div>
		<div class="panel_block">
            <div class="thumb"><a href="#"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div><!--end "thumb"-->
            <div class="storyBlockWrap">
                <h2><a href="#">Awesome Username</a></h2>
                <h3>Seattle, WA</h3>
            </div><!--end "storyBlockWrap"-->
			<div class="pointsTable_profile">
            <table cellspacing="0">
                <tr>
                  <td class="bold"><span class="pointValue">999 <span class="pts">Pts</span></span> <span class="userLevel_reader">reader</span></td>
                  <td><a href="?p=rewards" class="">View rewards</a></td>
                </tr>
                <tr>
                  <td class="bold"><span class="pointValue">2,999 <span class="pts">Pts</span></span> <span class="userLevel_contributor">contributor</span></td>
                  <td><a href="?p=rewards" class="">View rewards</a></td>
                </tr>
                <tr>
                  <td class="bold"><span class="pointValue">5,999 <span class="pts">Pts</span></span> <span class="userLevel_bronze">bronze</span></td>
                  <td><a href="?p=rewards" class="">View rewards</a></td>
                </tr>
                <tr>
                  <td class="bold"><span class="pointValue">9,999 <span class="pts">Pts</span></span> <span class="userLevel_silver">silver</span></td>
                  <td><a href="?p=rewards" class="">View rewards</a></td>
                </tr>
                <tr>
                  <td class="bold"><span class="pointValue">99,999 <span class="pts">Pts</span></span> <span class="userLevel_gold">gold</span></td>
                  <td><a href="?p=rewards" class="">View rewards</a></td>
                </tr>
                <tr>
                  <td class="bold"><span class="pointValue">999,999 <span class="pts">Pts</span></span> <span class="userLevel_platinum">platinum</span></td>
                  <td><a href="?p=rewards" class="">View rewards</a></td>
              </tr>
                <tr>
                  <td class="bold">2 friends</td>
                  <td><a href="?p=invite" class="">Invite more</a></td>
              </tr>
                <tr>
                  <td class="bold">0 stories</td>
                  <td><a href="?p=postStory" class="">Post a story</a></td>
                </tr>
                <tr>
                  <td class="bold">0 comments</td>
                  <td><a href="?p=stories" class="">Read stories</a></td>
              </tr>
                <tr>
                  <td class="bold">0 challenges</td>
                  <td><a href="?p=challenges" class="">More challenges</a></td>
              </tr>
            </table>
		  </div><!--end "pointsTable_profile"-->
		</div><!--end "panel_block"-->
	</div><!--end "panel_orange"-->

<div id="bookmarkletPanel" class="clearfix">
	<h2>There&rsquo;s an easier way to submit stories!</h2>
	<p>Drag the &ldquo;Post to Hot Dish&rdquo; button below to your browser links bar, as shown&hellip;</p>
    <div id="bookmarkletDemo"><a class="btn_orange" href="">Post to Hot Dish</a></div>
	<p>Once there, just click it from a story on any website or blog to post it to Hot Dish!</p>
</div><!--end "bookmarkletPanel"-->


</div><!--end "col_right"-->

</div><!--end "pageBody"-->