
<div id="publisherContent">

<div id="publisherList">
	<h2>Top Stories</h2>
		<ul id="newswireList">
		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

	  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>
	</ul>
    </div><!--end "publisherList"-->


<div id="publisherList">
	<h2>My Stories</h2>
		<ul id="newswireList">
		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

	  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>
	</ul>
    </div><!--end "publisherList"-->


<div id="publisherList">
	<h2>Action Challenges</h2>
		<ul id="newswireList">
		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

			<li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

	</ul>
    </div><!--end "publisherList"-->


<div id="publisherList">
	<h2>Invite Friends</h2>
    <p class="bump10">Post this message to spread the word</p>
    
    <div class="embed_message">
		<h4>Join the Hot Dish</h4>
        <p class="bold">We can do more, and have more fun doing it!</p>
        <p>Help spread the word, drive the discussion on hot topics, and earn earth-happy prizes along the way.</p>
        <p><a href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=d74a72ceb85def86c7f46598b46a1205">Go to the Hot Dish application ></a></p>
    </div>
    
    
</div><!--end "publisherList"-->


</div><!--end "publisherContent"-->