
<div id="header"><a href=""><img src="http://host.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&img=spacer.gif" width="300" height="76" class="float_left" /></a>
  <div class="dh_links">
    <div style="float:left;padding:0px 5px 0px 0px;display:inline;">
      <fb:share_button class="meta">
        <meta name="title" content="Try the Hot Dish Facebook Application"/>
        <meta name="description" content="The application description text here to do"/>
        <link rel="target_url" href="http://www.facebook.com/add.php?api_key=9214dec72950e1f0a8e986737991953c"/>
      </fb:share_button>
      <!-- end share button wrap -->
    </div>
    <span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=invite" onClick="switchPage('invite');return false;">Invite more friends</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=links" onClick="switchPage('links');return false;">Hot Dish resources</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=account&o=settings" onClick="switchPage('account','settings');return false;">Settings</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=contact" onClick="switchPage('contact');return false;">Contact us</a></div><!-- end "dh_links"-->
</div><!-- end "header"-->
<div id="appFrame">
  <div id="pageBodyWrap">
    <input type="hidden" id="filter" value="default">
    <script src="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&type=js&cf=hotdishFacebook_1233042748.js" type="text/javascript" language="javascript" charset="utf_8"></script>
    <input type="hidden" id="pageName" value="read">
    <input type="hidden" id="pagingFunction" value="fetchReadStory">
    <div id="pageBody">
      <div id="pageTabs" class="clearfix">
        <div class="tabs clearfix">
          <div class="right_tabs">
            <ul class="toggle_tabs clearfix" id="toggle_tabs_unused">
              <li><a id="tabHome" href="" onClick="switchPage('home');return false;" class="">Home</a></li>
              <li><a id="tabTeam" href="#" onClick="switchPage('team');return false;" >Action Team</a></li>
              <li><a id="tabStories" href="" onClick="switchPage('stories');return false;" class="">Stories</a></li>
              <li><a id="tabPostStory" href="" onClick="switchPage('postStory');return false;" class="">Post a Story</a></li>
              <li><a id="tabProfile" href="#" onClick="switchPage('profile','',693311688);return false;">My profile</a></li>
            </ul>
          </div><!-- end "right_tabs"-->
        </div><!-- end "tabs"-->
      </div><!-- end "pageTabs"-->
      <div id="pageContent">

<div id="subNav" class="tabs clearfix">
      <div class="left_tabs">
		<ul class="toggle_tabs clearfix">
			<li><a href="" id="subtabteam">Overview</a></li>
			<li><a href="" id="subtabrewards">Rewards</a></li>
			<li><a class="selected" href="" id="subtabchallenges">Challenges</a></li>
			<li><a href="" id="subtabrules">Rules</a></li>
		</ul>
      </div>
  </div>

<div id="col_left">

<p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>

	<div id="attachTabs" class="tabs clearfix">
		<ul class="toggle_tabs clearfix float_left">
			<li><a href="" class="selected photo_link" id="">Photo</a></li>
			<li><a href="" class="video_link">Video</a></li>
		</ul>
	</div>
    <div class="attachBox">

    </div><!--end "attachBox"-->


    <div class="pages"><span class="nextprev">&laquo; Previous</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><span>...</span><a href="#">11</a><a href="#">12</a><a class="nextprev" href="#">Next &raquo;</a></div><!--end "pages"-->

</div><!--end "col_left"-->

<div id="col_right">
</div><!--end "col_right"-->

        </div><!-- end pageContent -->
      </div><!-- end pageBody -->
    </div><!-- AJAX wrapper around page body -->
  </div><!-- end appFrame -->
