
<div id="col_left">

    <div class="clearfix" id="featurePanel">
      <div class="panelBar clearfix">
        <h2>Featured Stories</h2>
        <div class="bar_link"><a href="#">More from Grist editors</a></div>
      </div>
        <div id="featuredStories">
          <div class="clearfix" id="featured_story_half">
            <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34937&amp;x=640&amp;y=480&amp;fixed=x&amp;crop"/></a></div>
              <h1 id="story_1_title"><a href="#">Smart grids sexy enough for Super Bowl ads</a></h1>
              <p id="story_1_caption">After three and a half hours of Super Bowl, finally, the first eco-related ad, for GE's Ecomagination campaign, about smart grid <a href="#" class="more_link">&#8230;more</a></p>
          </div><!--end "featured_story_half"-->

          <div class="clearfix" id="featured_story_half">
            <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34937&amp;x=640&amp;y=480&amp;fixed=x&amp;crop"/></a></div>
              <h1 id="story_1_title"><a href="#">Smart grids sexy enough for Super Bowl ads</a></h1>
              <p id="story_1_caption">After three and a half hours of Super Bowl, finally, the first eco-related ad, for GE's Ecomagination campaign, about smart grid <a href="#" class="more_link">&#8230;more</a></p>
          </div><!--end "featured_story_half"-->

        </div><!--end "featuredStories"-->
    </div><!--end "featurePanel"-->

</div><!--end "col_left"-->