
<div class="profile" style="width:184px"><!--this profile div is to simulate the Facebook context only-->

    <div class="inside app_content_44829464219 small_box_size_restrict" id="app_content_44829464219">
      <div id="profileBox">
        <div>
          <div style="background: rgb(216, 223, 234) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=42d75015f2b3b072b007035a73d124b3&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbg_bob2.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="box_intro">
            <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
            <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
          </div>
        </div>
        
        <h1><a href="#"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a></h1>
        
        <div class="pointsTable_profile">
          <table cellspacing="0">
            <tbody>
              <tr>
                <td class="bold"><span class="pointValue">225 <span class="pts">points</span></span></td>
                <td><a href="http://apps.facebook.com/hotdish/?p=rewards" class="">View rewards</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p><a style="background: rgb(193, 64, 1) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=9cbb84f1b9ef3089fb31945e24b98b1d&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbtn_orange.png) repeat-x scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="btn_orange" href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=4d8ebd7f0417b2db13b4bd94df503e5e">Dive into Hot Dish</a></p>
      </div>
    </div>


<div class="inside app_content_44829464219 small_box_size_restrict" id="app_content_44829464219">
      <div id="profileBox">
        <div>
          <div style="background: rgb(216, 223, 234) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=42d75015f2b3b072b007035a73d124b3&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbg_bob2.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="box_intro">
            <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
            <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
          </div>
        </div>
        <p><a style="background: rgb(193, 64, 1) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=9cbb84f1b9ef3089fb31945e24b98b1d&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbtn_orange.png) repeat-x scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="btn_orange" href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=4d8ebd7f0417b2db13b4bd94df503e5e">Dive into Hot Dish</a></p>
      </div>
    </div>


<div class="inside app_content_44829464219 small_box_size_restrict" id="app_content_44829464219">
      <div id="profileBox">
        <div>
          <div style="background: rgb(216, 223, 234) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=42d75015f2b3b072b007035a73d124b3&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbg_bob2.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="box_intro">
            <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
            <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
          </div>
        </div>
        <div class="pointsTable_profile">
          <table cellspacing="0">
            <tbody>
              <tr>
                <td class="bold"><span class="pointValue">225 <span class="pts">points</span></span></td>
                <td><a href="http://apps.facebook.com/hotdish/?p=rewards" class="">View rewards</a></td>
              </tr>
              <tr>
                <td class="bold">16 friends</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=invite" class="">Invite more</a></td>
              </tr>
              <tr>
                <td class="bold">0 stories</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=postStory" class="">Post a story</a></td>
              </tr>
              <tr>
                <td class="bold">15 comments</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=stories" class="">Comment</a></td>
              </tr>
              <tr>
                <td class="bold">3 challenges</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=challenges" class="">More challenges</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p><a style="background: rgb(193, 64, 1) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=9cbb84f1b9ef3089fb31945e24b98b1d&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbtn_orange.png) repeat-x scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="btn_orange" href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=4d8ebd7f0417b2db13b4bd94df503e5e">Dive into Hot Dish</a></p>
      </div>
    </div>

</div><!--END profile div, to simulate the Facebook context only-->

