
<div id="header"><a href="?p=home"><img src="http://callback.newsreel.org/smt/sites/climate/facebook/index.php?p=cache&img=spacer.gif" width="300" height="76" class="float_left" /></a>
<div class="dh_links">
      <div style="float:left;padding:0px 5px 0px 0px;display:inline;">
        <fb:share_button class="meta">
          <meta name="title" content="Try the Climate Team Facebook Application"/>
          <meta name="description" content="The application description text here to do"/>
          <link rel="target_url" href="http://www.facebook.com/add.php?api_key=9214dec72950e1f0a8e986737991953c"/>
        </fb:share_button>
      </div>
      <span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=invite" onClick="switchPage('invite');return false;">Invite more friends</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=links" onClick="switchPage('links');return false;">Climate resources</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=account&o=settings" onClick="switchPage('account','settings');return false;">Settings</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=contact" onClick="switchPage('contact');return false;">Contact us</a>
    </div><!--end "dh_links"-->
</div><!--end "header"-->

<div id="pageBody">

		<div id="pageTabs" class="clearfix">
            <div class="tabs clearfix">
              <div class="right_tabs">
                  <ul class="toggle_tabs clearfix" id="toggle_tabs_unused">
                    <li class="first"><a id="tabHome" href="?p=home" onclick="switchPage('home');return false;" class="selected">Home</a></li><li><a id="tabTeam" href="?p=team" class="" onclick="switchPage('team');return false;" >Action Team</a></li><li><a id="tabStories" href="?p=stories" onclick="switchPage('stories');return false;" class="">Stories</a></li><li><a id="tabPostStory" href="?p=postStory" onclick="switchPage('postStory');return false;" class="">Post a Story</a></li><li><a id="tabProfile" href="?p=profile&memberid=693311688" class="" onclick="switchPage('profile','',693311688);return false;">My profile</a></li>
                  </ul>
              </div><!--end "right_tabs"-->
            </div><!--end "tabs"-->
		</div><!--end "pageTabs"-->

    <div id="col_left">
        
        <div id="featurePanel" class="clearfix">
            <div class="panelBar clearfix">
              <h2>Featured</h2>
                  <div class="bar_link"><a href="#">More from Grist editors</a></div>
            </div><!--end "panelBar"-->
            
            <div id="featured_story" class="clearfix">
                <div id="story_1_image" class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" width="180" height="135" /></a></div>
<div class="storyBlockWrap">
                  <h1 id="story_1_title"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></h1>
                  <p id="story_1_caption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car-door <a href="#" class="more_link">&hellip;more</a></p>
                  <div class="related_story">
                    <div id="story_2_image" class="slot"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" /></a></div>
                    <p id="story_2_title"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement">Public barred from Gateway Announcement | NowPublic News Coverage</a></p>
                  </div>
                  <div class="related_story">
                    <div id="story_3_image" class="slot"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=40&y=30&fixed=x&crop" /></a></div>
                    <p id="story_3_title"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  </div>
</div><!--end "storyBlockWrap"-->
                </div><!--end "featured_story"-->

          <div id="featured_story" class="clearfix"><!--"featured_story" wraps the featured story area on the home page, giving it the gradient background -->
            <div id="story_1_image" class="thumb"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&amp;x=185&amp;y=130&amp;fixed=x&amp;crop" width="180" height="135" /></a></div>
<div class="storyBlockWrap">
          <h1 id="story_4_title"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement">Public barred from Gateway Announcement | NowPublic News Coverage</a></h1>
                  <p id="story_4_caption">Residents of Surrey and Vancouver were blocked from entering the site of an announcement regarding the controversial Gateway <a href="#" class="more_link">&hellip;more</a></p>
          <div class="related_story">
                    <div id="story_2_image" class="slot"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" /></a></div>
                    <p id="story_2_title"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement">Public barred from Gateway Announcement | NowPublic News Coverage</a></p>
          </div>
                  <div class="related_story">
                    <div id="story_3_image" class="slot"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=40&y=30&fixed=x&crop" /></a></div>
                    <p id="story_3_title"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  </div>
            </div><!--end "storyBlockWrap"-->
          </div><!--end "featured_story"-->
            
      </div><!--end "featurePanel"-->

      <div class="panel_blue"><!--"panel_blue" wraps a general content panel, giving it a border-bottom, and cascading to tell .panelBar to which background to use for the title bar -->
        <div class="panelBar clearfix">
          <h2>Popular Stories</h2>
              <div class="bar_link"><a href="#" class="rss_link">RSS feed</a><span class="pipe">|</span><a href="#">Post a story</a></div>
		</div><!--end "panelBar"-->
        <div class="subtitle"><span>subtitle bar, where necessary</span></div><!--end "subtitle"-->
            <div class="list_stories clearfix">            
            <ul>
              <li>
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" width="90" height="67" /></a></div>
                <div class="storyBlockWrap">
                <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#" class="more_link">&hellip;more</a></p>

<div class="profilePic"><a href="#"><img src="http://www.newscloud.com/images/usericon.php?uid={ncId}" alt="Photo of " width="30" height="30" /></a></div>
                <div class="storyBlockMeta">
                <p>Posted by <a href="#">User Name</a> 1 hour ago</p>
                <p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>
                                  
                </div><!--end "storyBlockWrap"--></li>



              <li><div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" width="90" height="67" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#" class="more_link">&hellip;more</a></p>

<div class="profilePic"><a href="#"><img src="http://www.newscloud.com/images/usericon.php?uid={ncId}" alt="Photo of " width="30" height="30" /></a></div>
                <div class="storyBlockMeta">
                <p>Posted by <a href="#">User Name</a> 1 hour ago</p>
                <p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>
                </div><!--end "storyBlockWrap"--></li>


              <li><div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" width="90" height="67" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#" class="more_link">&hellip;more</a></p>

<div class="profilePic"><a href="#"><img src="http://www.newscloud.com/images/usericon.php?uid={ncId}" alt="Photo of " width="30" height="30" /></a></div>
                <div class="storyBlockMeta">
                <p>Posted by <a href="#">User Name</a> 1 hour ago</p>
                <p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>
                </div><!--end "storyBlockWrap"--></li>


              <li><div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" width="90" height="67" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#" class="more_link">&hellip;more</a></p>

<div class="profilePic"><a href="#"><img src="http://www.newscloud.com/images/usericon.php?uid={ncId}" alt="Photo of " width="30" height="30" /></a></div>
                <div class="storyBlockMeta">
                <p>Posted by <a href="#">User Name</a> 1 hour ago</p>
                <p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>
                </div><!--end "storyBlockWrap"--></li>


              <li><div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" width="90" height="67" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#" class="more_link">&hellip;more</a></p>

<div class="profilePic"><a href="#"><img src="http://www.newscloud.com/images/usericon.php?uid={ncId}" alt="Photo of " width="30" height="30" /></a></div>
                <div class="storyBlockMeta">
                <p>Posted by <a href="#">User Name</a> 1 hour ago</p>
                <p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>
                </div><!--end "storyBlockWrap"--></li>

                </ul>
            </div><!--end "list_stories"-->

<div class="panelBar clearfix">
              <div class="bar_link"><a href="#">More stories</a><span class="pipe">|</span><a href="#">Post a story</a></div>
		</div><!--end "panelBar"-->

      </div><!--end "panel_blue"-->

<div id="actionLegend"><!--"teamPanel" is the sidebar description of the Action Team for not-yet-joined users -->
          <span class="bump4 float_left">Your story activity earns you reward points</span><a href="#" class="btn_orange">Join the Action Team</a>
          
              <div class="pointsTable">
                  <table cellspacing="0">
                    <tbody>
                      <tr>
                        <td><a href="#">Post a story</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                        <td><a href="#">Invite more friends</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="#">Share a story</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                        <td><a href="#">Add bookmark tool</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                      </tr>
                    </tbody>
                  </table>
        </div><!--end "pointsTable"-->
    </div><!--end "actionLegend"-->

    </div><!--end "col_left"-->

	<div id="col_right">
    
    <div id="introPanel"><!--"introPanel" contains the short 1-2 sentence description of the app -->
        <p>Hot Dish is a service of <a href="http://www.grist.org/" target="_blank" class="more_link">Grist.org</a>, giving the tools to share climate change news to the Facebook community.</p>
    </div><!--end "introPanel"-->

    <div id="teamPanel"><!--"teamPanel" is the sidebar description of the Action Team for not-yet-joined users -->
<div id="teamBob"><!--"teamBob" is the intro paragraph with polar-bear character background image -->
          <h1>We can do more, and have more fun doing it! <a href="#" class="more_link">&hellip;Learn more</a></h1>
        <p>Spread the word, drive<br /> 
          the discussion of hot topics, and earn earth-happy rewards along the way!</p>
          <p><a href="#" class="btn_orange">Join the Action Team</a></p>
              <div class="pointsTable">
                  <table cellspacing="0">
                    <tbody>
                      <tr>
                        <td><a href="#">Post a story</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="#">Share a story</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="#">Invite more friends</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="#">Add bookmark tool</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                      </tr>
                    </tbody>
                  </table>
        </div><!--end "pointsTable"-->
      </div><!--end "teamBob"-->
    </div><!--end "teamPanel"-->
        
    <div class="panel_orange"><!--"panel_orange" wraps an Action Team panel, giving it a border-bottom, and cascading to tell .panelBar to which background to use for the title bar -->
        <div class="panelBar clearfix">
            <h2>Action Rewards</h2>
            <div class="bar_link"><a href="#">See all</a></div>
        </div><!--end "panelBar"-->

<div class="list_rewards clearfix">

		<div class="top_reward clearfix">
            <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="90" height="67" /></a></div>
				<div class="storyBlockWrap">
               	  <p class="storyHead"><span class="pointValue">One Grand Prize</td></span><br />
                  <a href="#">MacBook Pro</a></p>
                    <p>Lorum ipsum reward description</p>
				</div><!--end "storyBlockWrap"-->
        </div><!--end "top_reward"-->

            <ul>
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">$15 iTunes Gift Card</a></p>
                  <p class="pointValue">costs 25 <span class="pts">pts</span></td></p>
                </div><!--end "storyBlockWrap"--></li>
                
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">$15 iTunes Gift Card</a></p>
                  <p class="pointValue">costs 25 <span class="pts">pts</span></td></p>
                </div><!--end "storyBlockWrap"--></li>

              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">$15 iTunes Gift Card</a></p>
                  <p class="pointValue">costs 25 <span class="pts">pts</span></td></p>
                </div><!--end "storyBlockWrap"--></li>

              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">$15 iTunes Gift Card</a></p>
                  <p class="pointValue">costs 25 <span class="pts">pts</span></td></p>
                </div><!--end "storyBlockWrap"--></li>

              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">$15 iTunes Gift Card</a></p>
                  <p class="pointValue">costs 25 <span class="pts">pts</span></td></p>
                </div><!--end "storyBlockWrap"--></li>

                </ul>
            </div><!--end "list_rewards"-->

        <p><a href="#" class="btn_orange">Join the Action Team</a></p>
    </div><!--end "panel_orange"-->

</div><!--end "col_right"-->

</div><!--end "pageBody"-->

<div id="footer" class="clearfix">
    <div class="dh_links"><a href="?p=about" onclick="switchPage('static','about');return false;">About</a><span class="pipe">|</span><a href="?p=tos" onclick="switchPage('static','tos');return false;">Terms of Use</a><span class="pipe">|</span><a href="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=rss" title="Follow our story updates via Twitter" class="rss_link">RSS</a><span class="pipe">|</span><a href="http://www.twitter.com/Climate" title="Follow our updates via Twitter" class="twitter_link">Twitter</a><span class="pipe">|</span><a href="http://www.newscloud.com" title="Visit the NewsCloud Web site" class="newscloud_link">NewsCloud.com</a><span class="pipe">|</span><a href="http://www.grist.org" class="grist_link">Grist.org</a>
    </div><!--end "dh_links"-->
</div><!--end "footer"-->

<a class="powered" href="#" title="Learn about NewsCloud's technology">Powered by<br />
<span class="label">NewsCloud</span><br />
social media toolkit</a><!--end "powered"-->

