
<div id="header"><a href=""><img src="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&img=spacer.gif" width="300" height="76" class="float_left" /></a>
  <div class="dh_links">
    <div style="float:left;padding:0px 5px 0px 0px;display:inline;">
      <fb:share_button class="meta">
        <meta name="title" content="Try the Hot Dish Facebook Application"/>
        <meta name="description" content="The application description text here to do"/>
        <link rel="target_url" href="http://www.facebook.com/add.php?api_key=9214dec72950e1f0a8e986737991953c"/>
      </fb:share_button>
      <!__ end share button wrap __>
    </div>
    <span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=invite" onClick="switchPage('invite');return false;">Invite more friends</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=links" onClick="switchPage('links');return false;">Hot Dish resources</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=account&o=settings" onClick="switchPage('account','settings');return false;">Settings</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=contact" onClick="switchPage('contact');return false;">Contact us</a></div>
  <!__end "dh_links"__>
</div>
<!__end "header"__>
<div id="appFrame">
  <div id="pageBodyWrap">
    <input type="hidden" id="filter" value="default">
    <script src="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&type=js&cf=hotdishFacebook_1233042748.js" type="text/javascript" language="javascript" charset="utf_8"></script>
    <input type="hidden" id="pageName" value="read">
    <input type="hidden" id="pagingFunction" value="fetchReadStory">
    <div id="pageBody">
      <div id="pageTabs" class="clearfix">
        <div class="tabs clearfix">
          <div class="right_tabs">
            <ul class="toggle_tabs clearfix" id="toggle_tabs_unused">
              <li class="first"><a id="tabHome" href="" onClick="switchPage('home');return false;" class="">Home</a></li>
              <li ><a id="tabTeam" href="" class="" onClick="switchPage('team');return false;" >Action Team</a></li>
              <li ><a id="tabStories" href="" onClick="switchPage('stories');return false;" class="">Stories</a></li>
              <li ><a id="tabPostStory" href="" onClick="switchPage('postStory');return false;" class="">Post a Story</a></li>
              <li ><a id="tabProfile" href="" class="" onClick="switchPage('profile','',693311688);return false;">My profile</a></li>
            </ul>
          </div>
          <!__end "right_tabs"__>
        </div>
        <!__end "tabs"__>
      </div>
      <!__end "pageTabs"__>

<div id="pageContent">
  <h1>Hot Dish Links</h1>
  <p>Learn a lot more here...</p>
  <div class="colFull_half">
  <h5>Background</h5>
    <ul class="resourceList">
      <li><a href="http://en.wikipedia.org/wiki/Al_Gore" title="See the Wikipedia entry on Al Gore" target="_blank">Al Gore (Wikipedia)</a></li>
      <li><a title="" href="http://www.clintonglobalinitiative.org/NETCOMMUNITY/Page.aspx?&amp;pid=890&amp;srcid=895">Clinton Global Initiative Areas of Focus</a></li>
      <li><a title="" href="http://en.wikipedia.org/wiki/Global_warming" target="_blank">Global Warming</a></li>
      <li><a title="See the Wikipedia entry on Jim Inhofe" href="http://en.wikipedia.org/wiki/Jim_Inhofe" target="_blank">Jim Inhofe (Wikipedia)</a></li>
      <li><a title="" href="http://www.ncdc.noaa.gov/oa/climate/globalwarming.html" target="_blank">National Oceanic and Atmospheric Administration</a></li>
      <li><a title="" href="http://www.worldviewofglobalwarming.org/" target="_blank">World View of Global Warming</a></li>
    </ul>

	<h5>Related DVDs</h5>
    <ul class="resourceList">
		<li class="thumb"><a title="An Inconvenient Truth" href="http://www.amazon.com/gp/redirect.html?ASIN=B000ICL3KG&tag=commonmediaor-20&lcode=xm2&cID=2025&ccmID=165953&location=/o/ASIN/B000ICL3KG?SubscriptionId=0PBYTMHMWEB3ZR996P02" target="_blank"><img alt="An Inconvenient Truth" src="http://ecx.images-amazon.com/images/I/51jLajR43zL.jpg"/>An Inconvenient Truth</a></li>

		<li class="thumb"><a title="Global Warming and the Greenhouse Effect" href="http://www.amazon.com/gp/redirect.html?ASIN=B0001PFYMI&tag=commonmediaor-20&lcode=xm2&cID=2025&ccmID=165953&location=/o/ASIN/B0001PFYMI?SubscriptionId=0PBYTMHMWEB3ZR996P02" target="_blank"><img src="http://ecx.images-amazon.com/images/I/51X4SAEKNWL.jpg" alt="" border="0"/>Global Warming and the Greenhouse Effect is the extra long title of this item</a></li>

		<li class="thumb"><a title="Global Warming: The Signs and the Science" href="http://www.amazon.com/gp/redirect.html?ASIN=B000CPHAAG&tag=commonmediaor-20&lcode=xm2&cID=2025&ccmID=165953&location=/o/ASIN/B000CPHAAG?SubscriptionId=0PBYTMHMWEB3ZR996P02" target="_blank"><img alt="" src="http://ecx.images-amazon.com/images/I/51H76X9RYEL.jpg"/>Global Warming: The Signs and the Science</a></li>

<li><a title="" href="http://en.wikipedia.org/wiki/Global_warming" target="_blank">Text only links look like this</a></li>

<li><a title="See the Wikipedia entry on Jim Inhofe" href="http://en.wikipedia.org/wiki/Jim_Inhofe" target="_blank">Jim Inhofe (Wikipedia)</a></li>

      <li><a title="" href="http://www.clintonglobalinitiative.org/NETCOMMUNITY/Page.aspx?&amp;pid=890&amp;srcid=895">Clinton Global Initiative Areas of Focus</a></li>

    </ul><!--end "resourceList"-->

  </div><!--end "colFull_half"-->


<div class="colFull_half">

  <h5>Related Reading</h5>
  <ul class="resourceList">
        <li class="thumb"><a title="Global Warming: The Complete Briefing" href="http://www.amazon.com/gp/redirect.html?ASIN=0521629322&tag=commonmediaor-20&lcode=xm2&cID=2025&ccmID=165953&location=/o/ASIN/0521629322?SubscriptionId=0PBYTMHMWEB3ZR996P02" target="_blank"><img alt="" src="http://ecx.images-amazon.com/images/I/51Y0E0137VL.jpg"/>Global Warming: The Complete Briefing<br />
          <span class="meta">By John T. Houghton</span></a></li>

        <li class="thumb"><a title="The Carbon War: Global Warming and the End of the Oil Era" href="http://www.amazon.com/gp/redirect.html?ASIN=0415931029&tag=commonmediaor-20&lcode=xm2&cID=2025&ccmID=165953&location=/o/ASIN/0415931029?SubscriptionId=0PBYTMHMWEB3ZR996P02" target="_blank"><img src="http://ecx.images-amazon.com/images/I/5183KSA18SL.jpg" alt="" border="0"/>The Carbon War: Global Warming and the End of the Oil Era<br />
          <span class="meta">By Jeremy K. Leggett</span></a></li>

        <li class="thumb"><a title="You Can Prevent Global Warming (and Save Money!): 51 Easy Ways" href="http://www.amazon.com/gp/redirect.html?ASIN=0740733273&tag=commonmediaor-20&lcode=xm2&cID=2025&ccmID=165953&location=/o/ASIN/0740733273?SubscriptionId=0PBYTMHMWEB3ZR996P02" target="_blank"><img alt="" src="http://ecx.images-amazon.com/images/I/51zqe4m9oZL.jpg"/>You Can Prevent Global Warming (and Save Money!): 51 Easy Ways<br />
          <span class="meta">By Jeffrey Langholz and Kelly Turner</span></a></li>

      <li><a href="http://en.wikipedia.org/wiki/Al_Gore" title="See the Wikipedia entry on Al Gore" target="_blank">Al Gore (Wikipedia)</a></li>

      <li><a title="" href="http://en.wikipedia.org/wiki/Global_warming" target="_blank">Global Warming</a></li>

  </ul><!--end "resourceList"-->

  <h5>Take Action</h5>
  <ul class="resourceList">
    <li><a title="" href="http://www.climatecrisis.net" target="_blank">An Inconvenient Truth (Web Site)</a></li>
    <li><a title="" href="http://www.nrdc.org/globalwarming" target="_blank">National Resources Defense Council</a></li>
    <li><a title="" href="http://www.sierraclub.org/globalwarming/" target="_blank">Sierra Club</a></li>
    <li><a title="" href="http://www.stopglobalwarming.org/" target="_blank">Stop Global Warming</a></li>
    <li><a title="" href="http://www.ucsusa.org//global_warming/" target="_blank">Union of Concerned Scientists</a></li>
  </ul><!--end "resourceList"-->

  </div><!--end "colFull_half"-->

</div><!--end "pageContent"-->


      <!__ end pageBody __>
    </div>
    <fb:js_string var="dialogText">
      <div id="dialog_content">
        <div class="dialog_loading">Processing...please wait a moment...</div>
      </div>
    </fb:js_string>
    <!__ AJAX wrapper around page body __>
  </div>
  <input type="hidden" id="fbId" value="693311688">
  <input type="hidden" id="userid" value="105">
  <input type="hidden" id="sessionKey" value="2.KLnZ4yJnlt35BdBzF9A8_w__.86400.1233136800_693311688">
  <input type="hidden" id="sessionExpires" value="1233136800">
  <input type="hidden" id="authLevel" value="member">
  <input type="hidden" id="memberFriends" value="56,58,60,61,63,64,65,66,89,96,107">
  <!__ end appFrame __>
</div>

<div id="footer" class="clearfix">
    <div class="dh_links"><a href="?p=about" onclick="switchPage('static','about');return false;">About</a><span class="pipe">|</span><a href="?p=tos" onclick="switchPage('static','tos');return false;">Terms of Use</a><span class="pipe">|</span><a class="rss_link" href="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=rss" title="Follow our story updates via Twitter">RSS</a><span class="pipe">|</span><a href="http://www.twitter.com/Climate" title="Follow our updates via Twitter" class="twitter_link">Twitter</a><span class="pipe">|</span><a href="http://www.newscloud.com" title="Visit the NewsCloud Web site" class="newscloud_link">NewsCloud.com</a><span class="pipe">|</span><a href="http://www.grist.org" class="grist_link">Grist.org</a>
    </div><!--end "dh_links"-->
</div><!--end "footer"-->

<div id="powered"><a href="#" title="Learn about NewsCloud's technology">Powered by NewsCloud</a></div><!--end "powered"-->

<fb:google_analytics uacct="UA_55835_20" page="Facebook: read"/>
