
<div class="box_column">


<!-- BOX 1 - Stories tab -->

    <div class="box">
	<h3 class="box_header">Hot Dish (Stories tab)</h3>
      <div class="app_custom_content">
        
        <div id="profileBox">
			<div class="pointsTable_box">
          <table cellspacing="0">
                    <tr>
                        <td class="bold"><span class="pointValue">0 <span class="pts">points</span></span></td>
                        <td><a href="?p=rewards" class="">View rewards</a></td>
                    </tr>
                    <tr>
                        <td class="bold">2 friends</td>
                        <td><a href="?p=invite" class="">Invite more</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 stories</td>
                        <td><a href="?p=postStory" class="">Post a story</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 comments</td>
                        <td><a href="?p=stories" class="">Comment</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 challenges</td>
                        <td><a href="?p=challenges" class="">View challenges</a></td>
                    </tr>
                </table>
			</div><!--end "pointsTable_box"-->

          <div class="microTabs">
				<a href="#" class="feedFilterButton selected">Top Stories</a> <a href="#" style="" class="feedFilterButton">Featured Challenges</a>
          </div><!--end "microTabs"-->

<div class="microFeed">

<ul id="newswireList">
	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

</ul>

</div><!--end "microFeed"-->

<p><a href="#" class="btn_orange">Dive in to Hot Dish</a></p>

        </div><!--end "profileBox"-->
      </div><!--end "app_custom_content"-->
    </div><!--end "box"-->


<!-- BOX 2 - Challenges tab -->

<div class="box">
	<h3 class="box_header">Hot Dish (Challenges tab)</h3>
      <div class="app_custom_content">
        
        <div id="profileBox">
			<div class="pointsTable_box">
                <table cellspacing="0">
                    <tr>
                        <td class="bold"><span class="pointValue">0 <span class="pts">points</span></span></td>
                        <td><a href="?p=rewards" class="">View rewards</a></td>
                    </tr>
                    <tr>
                        <td class="bold">2 friends</td>
                        <td><a href="?p=invite" class="">Invite more</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 stories</td>
                        <td><a href="?p=postStory" class="">Post a story</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 comments</td>
                        <td><a href="?p=stories" class="">Comment</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 challenges</td>
                        <td><a href="?p=challenges" class="">View challenges</a></td>
                    </tr>
                </table>
			</div><!--end "pointsTable_box"-->

            <div class="microTabs">
				<a href="#" class="feedFilterButton">Top Stories</a> <a href="#" style="" class="feedFilterButton selected">Featured Challenges</a>
            </div><!--end "microTabs"-->

<div class="microFeed">

<ul id="newswireList">
	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

</ul>

</div><!--end "microFeed"-->

<p><a href="#" class="btn_orange">Dive in to Hot Dish</a></p>

        </div><!--end "profileBox"-->
      </div><!--end "app_custom_content"-->
  </div><!--end "box"-->


<!-- BOX 3 - new user view -->

<div class="box">
	<h3 class="box_header">Hot Dish (new user view)</h3>
      <div class="app_custom_content">

		<div class="box_intro">
          <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
          <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
		</div>
		<!--end "box_intro"-->

        <div id="profileBox">

            <div class="microTabs">
				<a href="#" class="feedFilterButton selected">Top Stories</a> <a href="#" style="" class="feedFilterButton">Featured Challenges</a>
            </div><!--end "microTabs"-->

<div class="microFeed">

<ul id="newswireList">
	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

</ul>

</div><!--end "microFeed"-->

<p><a href="#" class="btn_orange">Dive in to Hot Dish</a></p>

        </div><!--end "profileBox"-->
      </div><!--end "app_custom_content"-->
    </div><!--end "box"-->

</div><!--end "box_column"-->