<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->


<div id="header"><img src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" width="300" height="76" class="float_left" /></a>
  <div class="dh_links">
    <div style="float:left;padding:0px 5px 0px 0px;display:inline;">
      <fb:share_button class="meta">
        <meta name="title" content="Try the Hot Dish Facebook Application"/>
        <meta name="description" content="The application description text here to do"/>
        <link rel="target_url" href="http://www.facebook.com/add.php?api_key=9214dec72950e1f0a8e986737991953c"/>
      </fb:share_button>
      <!-- end share button wrap -->
    </div>
    <span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=invite" onClick="switchPage('invite');return false;">Invite more friends</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=links" onClick="switchPage('links');return false;">Hot Dish resources</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=account&o=settings" onClick="switchPage('account','settings');return false;">Settings</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=contact" onClick="switchPage('contact');return false;">Contact us</a></div>
  <!--end "dh_links"-->
</div>
<!--end "header"-->
<div id="appFrame">
  <div id="pageBodyWrap">
    <input type="hidden" id="filter" value="default">
    <script src="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&type=js&cf=hotdishFacebook_1233042748.js" type="text/javascript" language="javascript" charset="utf_8"></script>
    <input type="hidden" id="pageName" value="read">
    <input type="hidden" id="pagingFunction" value="fetchReadStory">
    <div id="pageBody">
      <div id="pageTabs" class="clearfix">
        <div class="tabs clearfix">
          <div class="right_tabs">
            <ul class="toggle_tabs clearfix" id="toggle_tabs_unused">
              <li class="first"><a id="tabHome" href="" onClick="switchPage('home');return false;" class="">Home</a></li>
              <li ><a id="tabTeam" href="" class="" onClick="switchPage('team');return false;" >Action Team</a></li>
              <li ><a id="tabStories" href="" onClick="switchPage('stories');return false;" class="">Stories</a></li>
              <li ><a id="tabPostStory" href="" onClick="switchPage('postStory');return false;" class="">Post a Story</a></li>
              <li ><a id="tabProfile" href="" class="" onClick="switchPage('profile','',693311688);return false;">My profile</a></li>
            </ul>
          </div>
          <!--end "right_tabs"-->
        </div>
        <!--end "tabs"-->
      </div>
      <!--end "pageTabs"-->
      <div id="pageContent">
        <div id="col_left" class="clearfix">
          <!-- begin left side -->


<div id="readStoryList" class="clearfix">
  <div class="panel_block">    
    <div class="thumb"><a href="/index.php?p=read&925" onClick="readStory(925);return false;"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=120&y=120&fixed=x&crop" alt="story image" width="180" height="135" /></a></div>
    <div class="storyBlockWrap">
      <p class="storyHead"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement" target="_cts">Public barred from Gateway Announcement | NowPublic News Coverage</a></p>
		    <div class="storyBlockMeta">
		      <h3>Via <a href="#">Grist</a> on Dec 12, 2008</h3>
			    <h3>Posted by <a href="">
			      <fb:name uid="1180126201" capitalize="true" linked="false"/>
			      </a> 1 hour ago</h3>

<p><span class="btn_left"><a href="#" class="voteLink" title="vote for this story">Vote it up</a> 62</span><span class="btn_mid"><a href="#" title="comment on this story">Post a comment</a> 12</span><span class="btn_right"><a href="#" title="send this story to friends">Share it</a></span></p>

		      </div><!--end "storyBlockMeta"-->
    </div><!--end "storyBlockWrap"-->
    
      <p class="storyCaption">Residents of Surrey and Vancouver were blocked from entering the site of an announcement regarding the controversial Gateway Program on Monday.The announcement was held on private property behind barbed wire fences. Some in attendance speculated this was a deliberate attempt to keep the public from attending an event about the project which is becoming increasingly unpopular.</p>
    <p class="float_right"><a href="http://my.nowpublic.com/environment/public_barred_gateway_announcement" target="_cts" class="btn_orange">Read the full story</a></p>
  </div><!--end "panel_block"-->
</div><!--end "readStoryList"-->


<div id="commentThread" class="panel_blue clearfix">
	<div class="panelBar clearfix">
		<h2>Comments</h2>
	</div><!--end "panelBar"-->

	<div class="panel_block clearfix"><div class="thumb"><a href="#"><fb:profile_pic uid="1180126201" linked="false" size="square" /></a></div><!--end "thumb"-->
		<div class="storyBlockWrap">
        <div class="storyBlockMeta">
			<h3>Posted by <a href=""><fb:name uid="1180126201" capitalize="true" linked="false"/></a> 1 hour ago</h3>
		</div><!--end "storyBlockMeta"-->
			<blockquote>
			  <div class="quotes">
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor nunc, vehicula et, tristique sed, auctor et, massa.</p>
			    <p> Nam at purus vitae diam commodo venenatis. Ut leo enim, vestibulum eget, rhoncus in, suscipit laoreet, magna. Aliquam diam. Nunc tempor lorem eget nisl.</p>
			  </div>
			</blockquote>

            <div class="rating"><strong>8</strong> of <strong>10</strong> readers agree. <strong>Do you?</strong></div>
            <a href="" title="Yes"><img class="rate_up" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /></a><a href="" title="No"><img class="rate_down" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /></a><a class="flag" href="" title="Report as inappropriate"> report</a>

		</div><!--end "storyBlockWrap"-->
	</div><!--end "panel_block"-->

<hr />

<div class="panel_block clearfix"><div class="thumb"><a href="#"><fb:profile_pic uid="1180126201" linked="false" size="square" /></a></div><!--end "thumb"-->
		<div class="storyBlockWrap">
        <div class="storyBlockMeta">
			<h3>Posted by <a href=""><fb:name uid="1180126201" capitalize="true" linked="false"/></a> 2 hours ago</h3>
		</div><!--end "storyBlockMeta"-->
			<blockquote>
			  <div class="quotes">
			    <p>Nulla sodales dui at metus scelerisque pharetra. Nulla facilisi. Praesent ligula nibh, interdum fermentum, feugiat hendrerit, sodales vitae, eros. Praesent euismod. Morbi tempor orci id risus aliquam auctor. Maecenas sed neque vitae lorem dignissim iaculis. Cras dignissim aliquet eros. Maecenas dolor. Integer pretium varius mauris. Vivamus ut mauris sed metus blandit aliquam. Sed sit amet leo a purus molestie pretium. Duis interdum.</p>
			  </div>
			</blockquote>

            <div class="rating"><strong>9</strong> of <strong>11</strong> readers agree. <strong>Do you?</strong></div>
            <img class="rate_up_on" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /><a href="" title="No"><img class="rate_down" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /></a><a class="flag" href="" title="Report as inappropriate"> report</a>

		</div><!--end "storyBlockWrap"-->
	</div><!--end "panel_block"-->

<hr />

<div class="panel_block clearfix"><div class="thumb"><a href="#"><fb:profile_pic uid="1180126201" linked="false" size="square" /></a></div><!--end "thumb"-->
		<div class="storyBlockWrap">
        <div class="storyBlockMeta">
			<h3>Posted by <a href=""><fb:name uid="1180126201" capitalize="true" linked="false"/></a> 1 hour ago</h3>
		</div><!--end "storyBlockMeta"-->
			<blockquote>
			  <div class="quotes">
			    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dolor nunc, vehicula et, tristique sed, auctor et, massa.</p>
			    <p> Nam at purus vitae diam commodo venenatis. Ut leo enim, vestibulum eget, rhoncus in, suscipit laoreet, magna. Aliquam diam. Nunc tempor lorem eget nisl.</p>
			  </div>
			</blockquote>

            <div class="rating"><strong>8</strong> of <strong>11</strong> readers agree. <strong>Do you?</strong></div>
            <a href="" title="Yes"><img class="rate_up" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /></a><img class="rate_down_on" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /><a class="flag" href="" title="Report as inappropriate"> report</a>

		</div><!--end "storyBlockWrap"-->
	</div><!--end "panel_block"-->

<hr />

<div class="panel_block clearfix"><div class="thumb"><a href="#"><fb:profile_pic uid="1180126201" linked="false" size="square" /></a></div><!--end "thumb"-->
		<div class="storyBlockWrap">
        <div class="storyBlockMeta">
			<h3>Posted by <a href=""><fb:name uid="1180126201" capitalize="true" linked="false"/></a> 2 hours ago</h3>
		</div><!--end "storyBlockMeta"-->
			<blockquote>
			  <div class="quotes">
			    <p>Nulla sodales dui at metus scelerisque pharetra. Nulla facilisi. Praesent ligula nibh, interdum fermentum, feugiat hendrerit, sodales vitae, eros. Praesent euismod. Morbi tempor orci id risus aliquam auctor. Maecenas sed neque vitae lorem dignissim iaculis. Cras dignissim aliquet eros. Maecenas dolor. Integer pretium varius mauris. Vivamus ut mauris sed metus blandit aliquam. Sed sit amet leo a purus molestie pretium. Duis interdum.</p>
			  </div>
			</blockquote>

            <div class="rating"><strong>8</strong> of <strong>10</strong> readers agree. <strong>Do you?</strong></div>
            <a href="" title="Yes"><img class="rate_up" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /></a><a href="" title="No"><img class="rate_down" src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" /></a><a class="flag_on" href="" title="Oops. Click to un-report as inappropriate"> reported</a>

		</div><!--end "storyBlockWrap"-->
	</div><!--end "panel_block"-->

<div class="panelBar clearfix">
		<h2>Post a comment</h2>
	</div><!--end "panelBar"-->

    <div class="panel_block clearfix">
      <form id="app18743077155_form_497f6d3bc8dbd5078326415" action="?p=read&amp;o=comments&amp;cid=918" method="post">
        <textarea name="comments" class="formfield comments"></textarea><br />
        <input type="button" onClick="fbjs_sandbox.instances.a18743077155.bootstrap();return fbjs_dom.eventHandler.call([fbjs_dom.get_instance(this,18743077155),function(a18743077155_event) {a18743077155_postComment(918);},18743077155],new fbjs_event(event));return true;" value="Post your comment" class="btn_orange"/>
      </form>
    </div><!--end "panel_block"-->
</div><!--end "commentThread" "panel_blue"-->


</div><!--end "col_left"-->

<div id="col_right" class="clearfix">

<div class="panel_blue clearfix">
	<div class="panelBar clearfix">
		<h2>Posted by <a href="#"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a></h2>
	</div><!--end "panelBar"-->

	<div class="panel_block"><div class="thumb"><a href="#"><fb:profile_pic uid="1180126201" linked="false" size="square" /></a></div><!--end "thumb"-->
		<div class="storyBlockWrap">
			<p>This is where the bio will go for the user who posted this story.</p>
		</div><!--end "storyBlockWrap"-->
	</div><!--end "panel_block"-->
</div><!--end "panel_blue"-->


<div class="panel_blue clearfix">
	<div class="panelBar clearfix">
		<h2>Other posts by <a href="#"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a></h2>
	</div><!--end "panelBar"-->

	<div class="panel_block">
    	<p><a href="" onClick="return switchPage('read', 'comments', 925);">Public barred from Gateway Announcement | NowPublic News Coverage</a></p>
        <p><a href="" onClick="return switchPage('read', 'comments', 925);">Public barred from Gateway Announcement | NowPublic News Coverage</a></p>
        <p><a href="" onClick="return switchPage('read', 'comments', 925);">Public barred from Gateway Announcement | NowPublic News Coverage</a></p>
	</div><!--end "panel_block"-->
</div><!--end "panel_blue"-->


<div class="panel_blue clearfix">
	<div class="panelBar clearfix">
		<h2>Friends who read this</h2>
	</div><!--end "panelBar"-->

	<div class="panel_block">
    	<div class="friend" style="float: left; display: inline;"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend" style="float: left; display: inline;"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend" style="float: left; display: inline;"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend" style="float: left; display: inline;"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
	</div><!--end "panel_block"-->
</div><!--end "panel_blue"-->          

</div><!--end "col_right"-->

       
      </div> <!-- end pageContent -->
    </div><!-- end pageBody -->
  </div><!-- AJAX wrapper around page body -->
</div><!-- end appFrame -->

<div id="footer" class="clearfix">
    <div class="dh_links"><a href="?p=about" onclick="switchPage('static','about');return false;">About</a><span class="pipe">|</span><a href="?p=tos" onclick="switchPage('static','tos');return false;">Terms of Use</a><span class="pipe">|</span><a class="rss_link" href="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=rss" title="Follow our story updates via Twitter">RSS</a><span class="pipe">|</span><a href="http://www.twitter.com/Climate" title="Follow our updates via Twitter" class="twitter_link">Twitter</a><span class="pipe">|</span><a href="http://www.newscloud.com" title="Visit the NewsCloud Web site" class="newscloud_link">NewsCloud.com</a><span class="pipe">|</span><a href="http://www.grist.org" class="grist_link">Grist.org</a>
    </div><!--end "dh_links"-->
</div><!--end "footer"-->

<a class="powered" href="#" title="Learn about NewsCloud's technology">Powered by<br />
<span class="label">NewsCloud</span><br />
social media toolkit</a><!--end "powered"-->
