<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->


<div id="col_left">

    <div class="clearfix" id="featurePanel">
      <div class="panelBar clearfix">
        <h2>Featured Stories</h2>
        <div class="bar_link"><a href="#">More from Grist editors</a></div>
      </div>
        <div id="featuredStories">
          <div class="clearfix" id="featured_story_half">
            <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34937&amp;x=640&amp;y=480&amp;fixed=x&amp;crop"/></a></div>
              <h1 id="story_1_title"><a href="#">Smart grids sexy enough for Super Bowl ads</a></h1>
              <p id="story_1_caption">After three and a half hours of Super Bowl, finally, the first eco-related ad, for GE's Ecomagination campaign, about smart grid <a href="#" class="more_link">&#8230;more</a></p>
          </div><!--end "featured_story_half"-->

          <div class="clearfix" id="featured_story_half">
            <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34937&amp;x=640&amp;y=480&amp;fixed=x&amp;crop"/></a></div>
              <h1 id="story_1_title"><a href="#">Smart grids sexy enough for Super Bowl ads</a></h1>
              <p id="story_1_caption">After three and a half hours of Super Bowl, finally, the first eco-related ad, for GE's Ecomagination campaign, about smart grid <a href="#" class="more_link">&#8230;more</a></p>
          </div><!--end "featured_story_half"-->

        </div><!--end "featuredStories"-->
    </div><!--end "featurePanel"-->

</div><!--end "col_left"-->