<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->


<div class="box_column">


<!-- BOX 1 - Stories tab -->

    <div class="box">
	<h3 class="box_header">Hot Dish (Stories tab)</h3>
      <div class="app_custom_content">
        
        <div id="profileBox">
			<div class="pointsTable_box">
          <table cellspacing="0">
                    <tr>
                        <td class="bold"><span class="pointValue">0 <span class="pts">points</span></span></td>
                        <td><a href="?p=rewards" class="">View rewards</a></td>
                    </tr>
                    <tr>
                        <td class="bold">2 friends</td>
                        <td><a href="?p=invite" class="">Invite more</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 stories</td>
                        <td><a href="?p=postStory" class="">Post a story</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 comments</td>
                        <td><a href="?p=stories" class="">Comment</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 challenges</td>
                        <td><a href="?p=challenges" class="">View challenges</a></td>
                    </tr>
                </table>
			</div><!--end "pointsTable_box"-->

          <div class="microTabs">
				<a href="#" class="feedFilterButton selected">Top Stories</a> <a href="#" style="" class="feedFilterButton">Featured Challenges</a>
          </div><!--end "microTabs"-->

<div class="microFeed">

<ul id="newswireList">
	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

</ul>

</div><!--end "microFeed"-->

<p><a href="#" class="btn_orange">Dive in to Hot Dish</a></p>

        </div><!--end "profileBox"-->
      </div><!--end "app_custom_content"-->
    </div><!--end "box"-->


<!-- BOX 2 - Challenges tab -->

<div class="box">
	<h3 class="box_header">Hot Dish (Challenges tab)</h3>
      <div class="app_custom_content">
        
        <div id="profileBox">
			<div class="pointsTable_box">
                <table cellspacing="0">
                    <tr>
                        <td class="bold"><span class="pointValue">0 <span class="pts">points</span></span></td>
                        <td><a href="?p=rewards" class="">View rewards</a></td>
                    </tr>
                    <tr>
                        <td class="bold">2 friends</td>
                        <td><a href="?p=invite" class="">Invite more</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 stories</td>
                        <td><a href="?p=postStory" class="">Post a story</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 comments</td>
                        <td><a href="?p=stories" class="">Comment</a></td>
                    </tr>
                    <tr>
                        <td class="bold">0 challenges</td>
                        <td><a href="?p=challenges" class="">View challenges</a></td>
                    </tr>
                </table>
			</div><!--end "pointsTable_box"-->

            <div class="microTabs">
				<a href="#" class="feedFilterButton">Top Stories</a> <a href="#" style="" class="feedFilterButton selected">Featured Challenges</a>
            </div><!--end "microTabs"-->

<div class="microFeed">

<ul id="newswireList">
	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
		</div><!--end "storyBlockWrap"-->
	</li>

</ul>

</div><!--end "microFeed"-->

<p><a href="#" class="btn_orange">Dive in to Hot Dish</a></p>

        </div><!--end "profileBox"-->
      </div><!--end "app_custom_content"-->
  </div><!--end "box"-->


<!-- BOX 3 - new user view -->

<div class="box">
	<h3 class="box_header">Hot Dish (new user view)</h3>
      <div class="app_custom_content">

		<div class="box_intro">
          <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
          <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
		</div>
		<!--end "box_intro"-->

        <div id="profileBox">

            <div class="microTabs">
				<a href="#" class="feedFilterButton selected">Top Stories</a> <a href="#" style="" class="feedFilterButton">Featured Challenges</a>
            </div><!--end "microTabs"-->

<div class="microFeed">

<ul id="newswireList">
	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

	<li class="panel_block">
		<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
		<div class="storyBlockWrap">
			<p><a href="#">Researchers make car parts out of coconuts</a></p>
		</div><!--end "storyBlockWrap"-->
	</li>

</ul>

</div><!--end "microFeed"-->

<p><a href="#" class="btn_orange">Dive in to Hot Dish</a></p>

        </div><!--end "profileBox"-->
      </div><!--end "app_custom_content"-->
    </div><!--end "box"-->

</div><!--end "box_column"-->