<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->


<div class="profile" style="width:184px"><!--this profile div is to simulate the Facebook context only-->

    <div class="inside app_content_44829464219 small_box_size_restrict" id="app_content_44829464219">
      <div id="profileBox">
        <div>
          <div style="background: rgb(216, 223, 234) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=42d75015f2b3b072b007035a73d124b3&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbg_bob2.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="box_intro">
            <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
            <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
          </div>
        </div>
        
        <h1><a href="#"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a></h1>
        
        <div class="pointsTable_profile">
          <table cellspacing="0">
            <tbody>
              <tr>
                <td class="bold"><span class="pointValue">225 <span class="pts">points</span></span></td>
                <td><a href="http://apps.facebook.com/hotdish/?p=rewards" class="">View rewards</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p><a style="background: rgb(193, 64, 1) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=9cbb84f1b9ef3089fb31945e24b98b1d&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbtn_orange.png) repeat-x scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="btn_orange" href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=4d8ebd7f0417b2db13b4bd94df503e5e">Dive into Hot Dish</a></p>
      </div>
    </div>


<div class="inside app_content_44829464219 small_box_size_restrict" id="app_content_44829464219">
      <div id="profileBox">
        <div>
          <div style="background: rgb(216, 223, 234) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=42d75015f2b3b072b007035a73d124b3&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbg_bob2.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="box_intro">
            <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
            <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
          </div>
        </div>
        <p><a style="background: rgb(193, 64, 1) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=9cbb84f1b9ef3089fb31945e24b98b1d&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbtn_orange.png) repeat-x scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="btn_orange" href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=4d8ebd7f0417b2db13b4bd94df503e5e">Dive into Hot Dish</a></p>
      </div>
    </div>


<div class="inside app_content_44829464219 small_box_size_restrict" id="app_content_44829464219">
      <div id="profileBox">
        <div>
          <div style="background: rgb(216, 223, 234) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=42d75015f2b3b072b007035a73d124b3&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbg_bob2.gif) no-repeat scroll right top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="box_intro">
            <h1><a href="#">We can do more, and have more fun doing it!</a></h1>
            <p>Keep up with climate change news, discuss hot topics, all while earning earth-happy rewards.</p>
          </div>
        </div>
        <div class="pointsTable_profile">
          <table cellspacing="0">
            <tbody>
              <tr>
                <td class="bold"><span class="pointValue">225 <span class="pts">points</span></span></td>
                <td><a href="http://apps.facebook.com/hotdish/?p=rewards" class="">View rewards</a></td>
              </tr>
              <tr>
                <td class="bold">16 friends</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=invite" class="">Invite more</a></td>
              </tr>
              <tr>
                <td class="bold">0 stories</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=postStory" class="">Post a story</a></td>
              </tr>
              <tr>
                <td class="bold">15 comments</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=stories" class="">Comment</a></td>
              </tr>
              <tr>
                <td class="bold">3 challenges</td>
                <td><a href="http://apps.facebook.com/hotdish/?p=challenges" class="">More challenges</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <p><a style="background: rgb(193, 64, 1) url(http://platform.ak.facebook.com/www.new/app_full_proxy.php?app=44829464219&amp;v=1&amp;size=p&amp;cksum=9cbb84f1b9ef3089fb31945e24b98b1d&amp;src=http%3A%2F%2Fhost.newscloud.com%2Fsmt%2Fsites%2Fclimate%2Ffacebook%2Findex.php%3Fp%3Dcache%26img%3Dbtn_orange.png) repeat-x scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="btn_orange" href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=4d8ebd7f0417b2db13b4bd94df503e5e">Dive into Hot Dish</a></p>
      </div>
    </div>

</div><!--END profile div, to simulate the Facebook context only-->

