<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->


<div id="publisherContent">

<div id="publisherList">
	<h2>Top Stories</h2>
		<ul id="newswireList">
		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

	  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>
	</ul>
    </div><!--end "publisherList"-->


<div id="publisherList">
	<h2>My Stories</h2>
		<ul id="newswireList">
		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

	  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Read Story app page in new window if possible. Otherwise, click to select radio button." target="_blank">Researchers make car parts out of coconuts</a></p>
                    <p class="storyCaption">Researchers in Texas are making car parts out of coconuts.  A team at Baylor University has made trunk liners, floorboards and car <a href="#open Read Story app page in new window if possible. Otherwise, just truncate the storyCaption at 3 lines." target="_blank">&hellip;more</a></p>                
                </div><!--end "storyBlockWrap"-->
          </li>
	</ul>
    </div><!--end "publisherList"-->


<div id="publisherList">
	<h2>Action Challenges</h2>
		<ul id="newswireList">
		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

			<li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

		  <li class="panel_block">
			<div class="btn_radio">
            <input type="radio" value="943" name="selId"/></div>
				<div class="thumb"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></div>
                <div class="storyBlockWrap">
                    <p class="storyHead"><a href="#open Challenge app page in new window if possible. Otherwise, click to select radio button." target="_blank">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p class="storyCaption">Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                </div><!--end "storyBlockWrap"-->
			</li>

	</ul>
    </div><!--end "publisherList"-->


<div id="publisherList">
	<h2>Invite Friends</h2>
    <p class="bump10">Post this message to spread the word</p>
    
    <div class="embed_message">
		<h4>Join the Hot Dish</h4>
        <p class="bold">We can do more, and have more fun doing it!</p>
        <p>Help spread the word, drive the discussion on hot topics, and earn earth-happy prizes along the way.</p>
        <p><a href="http://apps.facebook.com/hotdish?&amp;_fb_fromhash=d74a72ceb85def86c7f46598b46a1205">Go to the Hot Dish application ></a></p>
    </div>
    
    
</div><!--end "publisherList"-->


</div><!--end "publisherContent"-->