<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->


<div id="header"><a href=""><img src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" width="300" height="76" class="float_left" /></a>
  <div class="dh_links">
    <div style="float:left;padding:0px 5px 0px 0px;display:inline;">
      <fb:share_button class="meta">
        <meta name="title" content="Try the Hot Dish Facebook Application"/>
        <meta name="description" content="The application description text here to do"/>
        <link rel="target_url" href="http://www.facebook.com/add.php?api_key=9214dec72950e1f0a8e986737991953c"/>
      </fb:share_button>
      <!__ end share button wrap __>
    </div>
    <span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=invite" onClick="switchPage('invite');return false;">Invite more friends</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=links" onClick="switchPage('links');return false;">Hot Dish resources</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=account&o=settings" onClick="switchPage('account','settings');return false;">Settings</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=contact" onClick="switchPage('contact');return false;">Contact us</a></div>
  <!__end "dh_links"__>
</div>
<!__end "header"__>
<div id="appFrame">
  <div id="pageBodyWrap">
    <input type="hidden" id="filter" value="default">
    <script src="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&type=js&cf=hotdishFacebook_1233042748.js" type="text/javascript" language="javascript" charset="utf_8"></script>
    <input type="hidden" id="pageName" value="read">
    <input type="hidden" id="pagingFunction" value="fetchReadStory">
    <div id="pageBody">
      <div id="pageTabs" class="clearfix">
        <div class="tabs clearfix">
          <div class="right_tabs">
            <ul class="toggle_tabs clearfix" id="toggle_tabs_unused">
              <li class="first"><a id="tabHome" href="" onClick="switchPage('home');return false;" class="">Home</a></li>
              <li ><a id="tabTeam" href="#" onClick="switchPage('team');return false;" >Action Team</a></li>
              <li ><a id="tabStories" href="" onClick="switchPage('stories');return false;" class="">Stories</a></li>
              <li ><a id="tabPostStory" href="" onClick="switchPage('postStory');return false;" class="">Post a Story</a></li>
              <li ><a id="tabProfile" href="#" onClick="switchPage('profile','',693311688);return false;">My profile</a></li>
            </ul>
          </div>
          <!__end "right_tabs"__>
        </div>
        <!__end "tabs"__>
      </div>
      <!__end "pageTabs"__>
      <div id="pageContent">

<div id="subNav" class="tabs clearfix">
    <center>
      <div class="left_tabs">
        <ul id="toggle_tabs_unused" class="toggle_tabs clearfix">
          <li class="first"><a href="" id="subtabteam">Overview</a></li>
          <li><a href="" id="subtabrewards">Rewards</a></li>
          <li><a class="selected" href="" id="subtabchallenges">Challenges</a></li>
          <li><a href="" id="subtabrules">Rules</a></li>
        </ul>
      </div>
    </center>
  </div>

<div id="col_left">
          <!__ begin left side __>

<div id="wideTipPanel" class="panel_blue">
	<div class="bump10">Action Challenges keep everyone on message, and encourage real-world engagement
to help stop the causes of climate change. Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Donec vitae dolor eu nisl laoreet ultrices. Quisque suscipit.</div>
</div><!--end "wideTipPanel"-->


<div id="ajaxFeed" class="panel_blue">
	<h2>Action Challenges</h2>
    <div class="subFilter">Sort by:
        <a href="#" class="feedFilterButton selected">Points</a> <a href="#" style="" class="feedFilterButton">Featured</a> <a href="#" style="" class="feedFilterButton">Name</a> <a href="#" style="" class="feedFilterButton">Date</a>
        </div><!--end "subtitle"-->

    <div class="list_stories">            
        <ul>
            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li><hr />

            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li><hr />

            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li><hr />

            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li><hr />

            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li><hr />

            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li><hr />

            <li class="panel_block">
                <div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
					<p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description lorum ipsum challenge description lorum ipsum challenge description.</p>
                    <p><a class="btn_blue" href="">Learn more</a><a class="btn_blue" href="">I did this!</a><a class="btn_blue" href="">Challenge your friends</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

		</ul>
    </div><!--end "list_stories"-->

</div><!--end "ajaxFeed" "panel_blue"-->

</div><!--end "col_left"-->

<div id="col_right">

    <div id="profileSummary" class="panel_orange">
        <div class="panelBar clearfix">
			<h2>Action Team Summary</h2><div class="bar_link"><a href="#">Edit</a></div>
        </div>
		<div class="panel_block">
            <div class="thumb"><a href="#"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div><!--end "thumb"-->
            <div class="storyBlockWrap">
                <h2><a href="#">Awesome Username</a></h2>
                <h3>Seattle, WA</h3>
            </div><!--end "storyBlockWrap"-->
			<div class="pointsTable_profile">
            <table cellspacing="0">
                <tr>
                  <td class="bold"><span class="pointValue">0 <span class="pts">points</span></span></td>
                  <td><a href="?p=rewards" class="">Redeem for rewards</a></td>
                </tr>
                <tr>
                  <td class="bold">2 friends</td>
                  <td><a href="?p=invite" class="">Invite more friends</a></td>
                </tr>
                <tr>
                  <td class="bold">0 stories</td>
                  <td><a href="?p=postStory" class="">Post a story</a></td>
                </tr>
                <tr>
                  <td class="bold">0 comments</td>
                  <td><a href="?p=stories" class="">Comment on stories</a></td>
                </tr>
                <tr>
                  <td class="bold">0 challenges</td>
                  <td><a href="?p=challenges" class="">Complete a challenge</a></td>
                </tr>
            </table>
			</div><!--end "pointsTable_profile"-->
		</div><!--end "panel_block"-->
	</div><!--end "panel_orange"-->

</div><!--end "col_right"-->

        <!__ end pageContent __>
      </div>
      <!__ end pageBody __>
    </div>
    <!__ AJAX wrapper around page body __>
  </div>
  <!__ end appFrame __>
</div>

<div id="footer" class="clearfix">
    <div class="dh_links"><a href="?p=about" onclick="switchPage('static','about');return false;">About</a><span class="pipe">|</span><a href="?p=tos" onclick="switchPage('static','tos');return false;">Terms of Use</a><span class="pipe">|</span><a class="rss_link" href="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=rss" title="Follow our story updates via Twitter">RSS</a><span class="pipe">|</span><a href="http://www.twitter.com/Climate" title="Follow our updates via Twitter" class="twitter_link">Twitter</a><span class="pipe">|</span><a href="http://www.newscloud.com" title="Visit the NewsCloud Web site" class="newscloud_link">NewsCloud.com</a><span class="pipe">|</span><a href="http://www.grist.org" class="grist_link">Grist.org</a>
    </div><!--end "dh_links"-->
</div><!--end "footer"-->

<div id="powered"><a href="#" title="Learn about NewsCloud's technology">Powered by NewsCloud</a></div><!--end "powered"-->

<fb:google_analytics uacct="UA_55835_20" page="Facebook: read"/>
