<!-- temporary stylesheets - University of Minnesota -->
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z5976/lpkg/4wi0dsdb/en_US/141/140465/css/68510jdsid0cos08.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1P3D/lpkg/b6e5abce/en_US/141/138702/css/998mu0rdfxss44o8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zCZEQ/lpkg/cm71u926/en_US/141/140096/css/6vzzcp7eyl8gwoo8.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zEM1J/lpkg/5eyotrpi/en_US/141/132276/css/dweqfd2493c4c0sw.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zA8BU/lpkg/2yc6jzk4/en_US/141/140327/css/b3j3sp66qsgkks8w.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z1KMR/lpkg/6nudfjqn/en_US/141/140327/css/2lcq4fnto5ycgco4.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zWL1B/lpkg/4df1ubaa/en_US/141/139230/css/3opxe4q4sps08ooo.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/z914M/lpkg/31itbjum/en_US/141/139223/css/9xsxlqd8nns48gww.pkg.css" />
<link type="text/css" rel="stylesheet" href="http://b.static.ak.fbcdn.net/rsrc.php/zHS76/lpkg/a7wygd6a/en_US/141/131042/css/8o5bw2yii9gcok88.pkg.css" />
<link href="file:///Adam iMac/Users/adamfaja/Sites/social-media-toolkit/sites/minn/facebook/styles/default.css" rel="stylesheet" type="text/css" />
<!--end "temporary stylesheets"-->

<div id="header"><a href=""><img src="http://callback.newsreel.org/sites/minn/facebook/index.php?p=cache&img=spacer.gif" width="300" height="76" class="float_left" /></a>
  <div class="dh_links">
    <div style="float:left;padding:0px 5px 0px 0px;display:inline;">
      <fb:share_button class="meta">
        <meta name="title" content="Try the Hot Dish Facebook Application"/>
        <meta name="description" content="The application description text here to do"/>
        <link rel="target_url" href="http://www.facebook.com/add.php?api_key=9214dec72950e1f0a8e986737991953c"/>
      </fb:share_button>
      <!__ end share button wrap __>
    </div>
    <span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=invite" onClick="switchPage('invite');return false;">Invite more friends</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=links" onClick="switchPage('links');return false;">Hot Dish resources</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=account&o=settings" onClick="switchPage('account','settings');return false;">Settings</a><span class="pipe">|</span><a href="http://apps.facebook.com/climateteam?p=contact" onClick="switchPage('contact');return false;">Contact us</a></div>
  <!__end "dh_links"__>
</div>
<!__end "header"__>
<div id="appFrame">
  <div id="pageBodyWrap">
    <input type="hidden" id="filter" value="default">
    <script src="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=cache&type=js&cf=hotdishFacebook_1233042748.js" type="text/javascript" language="javascript" charset="utf_8"></script>
    <input type="hidden" id="pageName" value="read">
    <input type="hidden" id="pagingFunction" value="fetchReadStory">
    <div id="pageBody">

      <div id="pageTabs" class="clearfix">
        <div class="tabs clearfix">
          <div class="right_tabs">
            <ul class="toggle_tabs clearfix" id="toggle_tabs_unused">
              <li class="first"><a id="tabHome" href="" onClick="switchPage('home');return false;" class="">Home</a></li>
              <li ><a id="tabTeam" href="#" onClick="switchPage('team');return false;" >Action Team</a></li>
              <li ><a id="tabStories" href="" onClick="switchPage('stories');return false;" class="">Stories</a></li>
              <li ><a id="tabPostStory" href="" onClick="switchPage('postStory');return false;" class="selected">Post a Story</a></li>
              <li ><a id="tabProfile" href="#" onClick="switchPage('profile','',693311688);return false;">My profile</a></li>
            </ul>
          </div><!--end "right_tabs"-->
        </div><!--end "tabs"-->
      </div><!--end "pageTabs"-->

<div id="pageContent">

  <div id="subNav">
    <div class="tabs clearfix">
      <div class="left_tabs">
        <ul id="toggle_tabs_unused" class="toggle_tabs clearfix">
          <li class="first"><a class="selected" href="" id="subtabteam">Overview</a></li>
          <li><a href="" id="subtabrewards">Rewards</a></li>
          <li><a href="" id="subtabchallenges">Challenges</a></li>
          <li><a href="" id="subtabrules">Rules</a></li>
          </ul>
        </div>
    </div>
  </div>

  <div id="teamWrap">
  <div id="teamPanel" class="clearfix">
  <div id="teamBob" class="panel_block clearfix"><!--"teamBob" is the wrapper with polar-bear character background image -->
		<div class="thumb"><div id="holder_fb_flv49809492b78060901218182" class="swf_holder">
          <embed width="320" height="240" flashvars="video_src=http%3A%2F%2Fwww.mediacollege.com%2Fvideo-gallery%2Ftestclips%2Fbarsandtone.flv&amp;deblocking=1&amp;video_title=test+video&amp;scale_thumb=0&amp;keep_last_frame=1&amp;jpg_src=http%3A%2F%2Fwww.example.com%2Ftest.jpg&amp;show_controls=1&amp;string_table=http://b.static.ak.fbcdn.net/js_strings.php/t85636/en_US&amp;swf_id=so_fb_flv49809492b78060901218182_49809492b7d012b64069459" wmode="transparent" salign="r" scale="showall" quality="high" bgcolor="#ffbb00" name="so_fb_flv49809492b78060901218182_49809492b7d012b64069459" id="so_fb_flv49809492b78060901218182_49809492b7d012b64069459" style="" src="http://b.static.ak.fbcdn.net/swf/flv_ad.swf?7:115830" type="application/x-shockwave-flash"/>
        </div><!--end "swf_holder"-->
      </div><!--end "thumb"-->
		<div class="storyBlockWrap clearfix">
      <h1>Help spread the word about climate change-win cool stuff!</h1>
      
		<div class="bullet_list">
		  <ul>
		    <li>Earn great earth-happy rewards, maybe even our secret grand prize</li>
                <li>Gain points for both online and offline planet-saving actions</li>
                <li>Help spread the word by keeping friends in the loop, and getting active in the community</li>
                <li>Contribute to a <a href="#">research study</a> about social media</li>
		    </ul>
		  </div><!--end "bullet_list"-->

			<p class="bump10 float_right"><a href="#" class="btn_orange">Invite more friends</a></p>
			<p class="bold bump10">Earn rewards from your story activity</p>

                <div class="pointsTable">
                  <table cellspacing="0">
                    <tbody>
                      <tr>
                        <td><a href="#">Post a story</a></td>
                        <td class="pointValue">Earn 50 <span class="pts">pts</span></td>
                        <td><a href="#">Vote on stories</a></td>
                        <td class="pointValue">Earn 10 <span class="pts">pts</span></td>
                      </tr>
                      <tr>
                        <td><a href="#">Share a story</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                        <td><a href="#">Add bookmark tool</a></td>
                        <td class="pointValue">Earn 25 <span class="pts">pts</span></td>
                      </tr>
                    </tbody>
                  </table>
        </div><!--end "pointsTable"-->
        </div>
		<!--end "storyBlockWrap"-->
    </div><!--end "panel_block"-->
  </div><!--end "teamPanel"-->
</div><!--end "teamWrap"-->

        <div id="col_left" class="clearfix">
          <!__ begin left side __>
<div class="panel_blue clearfix">
	<div class="panelBar clearfix">
		<h2><a href="#">11 Friends</a> on the Action Team</h2>
	</div><!--end "panelBar"-->

	<div class="panel_block">
    	<div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
		<div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
        <div class="friend"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" size="square" /></a></div>
	</div><!--end "panel_block"-->
</div><!--end "panel_blue"-->

<div id="ajaxFeed" class="panel_blue">
	<div class="panelBar clearfix">
		<h2>Action Team Feed</h2>
		<div class="bar_link"><a href="#">Post a story</a></div>
	</div><!--end "panelBar"-->
    <div class="subFilter">Filter by:
        <a href="#" class="feedFilterButton selected">All Actions</a> <a href="#" style="" class="feedFilterButton">Stories</a> <a href="#" style="" class="feedFilterButton">Challenges</a> <a href="#" style="" class="feedFilterButton">Rewards</a>
        </div><!--end "subtitle"-->

    <div class="list_stories clearfix">            
        <ul>
            <li class="panel_block">
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
                    <div class="feed_poster">
                      <div class="avatar"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" width="30px" height="30px" />
                      </a></div><!--end "avatar"-->
                      <h3><span class="bold"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1180126201" onClick="return switchPage('profile', '', 1180126201);"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a> posted a story</span> 1 hour ago</h3>
                    </div><!--end "feed_poster"-->
                    <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

            <li class="panel_block">
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
                    <div class="feed_poster">
                      <div class="avatar"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" width="30px" height="30px" />
                      </a></div><!--end "avatar"-->
                      <h3><span class="bold"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1180126201" onClick="return switchPage('profile', '', 1180126201);"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a> posted a video</span> 2 hours ago</h3>
                    </div><!--end "feed_poster"-->
                    <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

<li class="panel_block">
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
                    <div class="feed_poster">
                      <div class="avatar"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" width="30px" height="30px" />
                      </a></div><!--end "avatar"-->
                      <h3><span class="bold"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1180126201" onClick="return switchPage('profile', '', 1180126201);"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" />
                      </a> completed a challenge</span> 3 hours ago</h3>
                    </div><!--end "feed_poster"-->
                    <p class="storyHead"><a href="#">This is the challenge title</a><br />
                    <span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

            <li class="panel_block">
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
                    <div class="feed_poster">
                      <div class="avatar"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" width="30px" height="30px" />
                      </a></div><!--end "avatar"-->
                      <h3><span class="bold"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1180126201" onClick="return switchPage('profile', '', 1180126201);"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a> posted a story</span> 1 hour ago</h3>
                    </div><!--end "feed_poster"-->
                    <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

            <li class="panel_block">
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
                    <div class="feed_poster">
                      <div class="avatar"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" width="30px" height="30px" />
                      </a></div><!--end "avatar"-->
                      <h3><span class="bold"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1180126201" onClick="return switchPage('profile', '', 1180126201);"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" /></a> posted a video</span> 2 hours ago</h3>
                    </div><!--end "feed_poster"-->
                    <p class="storyHead"><a href="http://www.msnbc.msn.com/id/28529073/">Researchers make car parts out of coconuts</a></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

<li class="panel_block">
                <div class="thumb"><a href="http://www.msnbc.msn.com/id/28529073/"><img src="http://www.newscloud.com/images/scaleImage.php?id=34608&x=185&y=130&fixed=x&crop" /></a>
                </div>
                <div class="storyBlockWrap">
                    <div class="feed_poster">
                      <div class="avatar"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1008723516" onClick="return switchPage('profile', '', 1008723516);"><fb:profile_pic uid="1008723516" linked="false" width="30px" height="30px" />
                      </a></div><!--end "avatar"-->
                      <h3><span class="bold"><a href="http://apps.facebook.com/climateteam?p=profile&memberid=1180126201" onClick="return switchPage('profile', '', 1180126201);"><fb:name uid="1180126201" capitalize="true" firstnameonly="false" linked="false" />
                      </a> completed a challenge</span> 3 hours ago</h3>
                    </div><!--end "feed_poster"-->
                    <p class="storyHead"><a href="#">This is the challenge title</a><br />
                    <span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                  </div><!--end "storyBlockWrap"-->
            </li>

		</ul>
    </div><!--end "list_stories"-->

</div><!--end "ajaxFeed" "panel_blue"-->

</div><!--end "col_left"-->

<div id="col_right" class="clearfix">

<div class="panel_orange clearfix">
        <div class="panelBar clearfix">
            <h2>Featured Action Challenges</h2>
            <div class="bar_link"><a href="#">See all</a></div>
        </div><!--end "panelBar"-->

<div class="list_challenges clearfix">
            <ul>
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description</p>
                </div><!--end "storyBlockWrap"--></li>
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description</p>
                </div><!--end "storyBlockWrap"--></li>
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description</p>
                </div><!--end "storyBlockWrap"--></li>
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description</p>
                </div><!--end "storyBlockWrap"--></li>
              <li><div class="thumb"><a href="#"><img src="http://www.newscloud.com/images/scaleImage.php?id=34688&x=40&y=30&fixed=x&crop" width="50" height="37" /></a></div>
				<div class="storyBlockWrap">
              <p class="storyHead"><a href="#">This is the challenge title</a><br /><span class="pointValue">Earn 25 <span class="pts">pts</span></span></p>
                    <p>Lorum ipsum challenge description</p>
                </div><!--end "storyBlockWrap"--></li>
                </ul>
            </div><!--end "list_challenges"-->

        <p><a href="#" class="btn_orange">Complete a Challenge</a></p>
    </div>

</div><!--end "col_right"-->

        <!__ end pageContent __>
      </div>
      <!__ end pageBody __>
    </div>
    <!__ AJAX wrapper around page body __>
  </div>
  <!__ end appFrame __>
</div>

<div id="footer" class="clearfix">
    <div class="dh_links"><a href="?p=about" onclick="switchPage('static','about');return false;">About</a><span class="pipe">|</span><a href="?p=tos" onclick="switchPage('static','tos');return false;">Terms of Use</a><span class="pipe">|</span><a class="rss_link" href="http://lab.newscloud.com/smt/sites/climate/facebook/index.php?p=rss" title="Follow our story updates via Twitter">RSS</a><span class="pipe">|</span><a href="http://www.twitter.com/Climate" title="Follow our updates via Twitter" class="twitter_link">Twitter</a><span class="pipe">|</span><a href="http://www.newscloud.com" title="Visit the NewsCloud Web site" class="newscloud_link">NewsCloud.com</a><span class="pipe">|</span><a href="http://www.grist.org" class="grist_link">Grist.org</a>
    </div><!--end "dh_links"-->
</div><!--end "footer"-->

<div id="powered"><a href="#" title="Learn about NewsCloud's technology">Powered by NewsCloud</a></div><!--end "powered"-->

<fb:google_analytics uacct="UA_55835_20" page="Facebook: read"/>
