/*
Author: Adam Faja for Eye Level
URL: http://www.youreyelevel.com 

CONTENTS 

 1)  BASELINE and OVERRIDES
 2)  GLOBAL LAYOUT STRUCTURE
2a)  HEADER
2b)  FOOTER
 3)  SPECIAL LINKS
4a)  NAV TABS
4b)  SUBNAV TABS
 5)  SPECIAL PANELS
 6)  REUSABLE LAYOUT PANELS
 7)  BUTTONS
 8)  CONTENT LISTS
 9)  FACEBOOK PUBLISHER / ATTACH
10)  TABLES
11)  PROFILE BOX
12)  RESOURCES LIST
13)  FORMS
14) Ads
15) Tags
*/

/****************
Temporary styles from newsroom.css - Adam you can remove these as we go along and add the replacements
*************/
.hidden {display:none;}
#testBar {width:750px;height:10px;background-color:white;padding:5px;margin:0px 0px 10px 0px;font-weight:bold;text-align:center;}
#loadingStatus {margin:200px 0px 100px 0px;min-height:200px;text-align:center;}
#smallLoadingStatus {margin:20px 0px 20px 0px;min-height:50px;text-align:center;}

/* action team styles */
.actionSidePanel {border:1px solid #{CLR_EDGES2};background-color:#{CLR_EDGES2};padding:5px;margin:0px 0px 10px 0px;}
.readSidePanel {border:1px solid #{CLR_EDGES2};background-color:#{CLR_EDGES2};padding:5px;margin:0px 0px 10px 0px;}


.templateEditHover, .templateEditHover *
{
	background-color: #fcc;
	/*border:1px solid #f00;*/
}

#videoBox 
{
	/*width: 250px; height: 260px; float: left;*/
	float: left;
	margin: 15px;
}

#joinButton
{
	text-align: center; font-weight: bold;
}			

.rewardItem 
{
	width: 100px; height: 100px;
}
#challengeList 
{
	padding-left: 0px;	
}


#actionFeedList 
{
	padding-left: 0px;	
}
.availabilityText
{
	color: #777777;
	font-size: .8em;
}

/*********************************
End temporary styles
*********************************/

/*********************************
1) BASELINE and OVERRIDES
*********************************/

body {
	direction:ltr;
	font-family:{FONTS_MAIN};
	font-size:11px;
	text-align:left;
	direction:ltr;
	unicode-bidi:embed;
	margin:0px;
	padding:0px;
	color: #{CLR_BODY};
	}

h1, h2, h3, h4, h5 {
	font-size: 14px;
	color: #{CLR_BODY};
	margin: 0px;
	padding: 0px;
	}

/* H1 for page titles */
h1 { 
	font-family: {FONTS_HEADS};
	font-size: 16px;
	font-weight: bold;
	color: #{CLR_LINKS};
	margin: 0 0 6px 0;
	padding: 0;
	}

h1 a { color: #{CLR_LINKS}; }

.standard_message.has_padding h1 {padding: inherit;}


/* H2 for panelBar title bars, and story titles in lists */
h2 { 
	font-family: {FONTS_HEADS};
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 6px 0;
	padding: 0;
	}

h3 { font-size: 11px;
	font-family: {FONTS_MAIN};
	font-weight: normal;
	color: #{CLR_EDGES1};
	margin: 0 0 7px 0;
	padding: 0;	}

h4 {
	font-family: {FONTS_MAIN};
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 6px 0;
	padding: 0;
	}

h5 {
	font-family: {FONTS_MAIN};
	font-size: 12px;
	font-weight: bold;
	color: #{CLR_EDGES1};
	border-top: 1px solid #{CLR_EDGES2};
	margin: 0px 0px 10px 0;
	padding: 5px 0px;
	}

p { font-family:{FONTS_MAIN};
	font-size:11px;
	text-align:left;
	margin: 0 0 7px 0;
	padding: 0px;
	}

a { color:#{CLR_LINKS};
	cursor:pointer;
	outline-style:none;
	-moz-outline-style:none;
	text-decoration:none;
	}

a:hover{text-decoration:underline;}
img{border:0px;}

.meta { color: #{CLR_EDGES1}; }
.bold { font-weight: bold; }

blockquote {
	background: transparent url({URL_BASE}/index.php?p=cache&img=start_quote_small.gif) no-repeat scroll -1px 0;
	color:#{CLR_BODY};
	line-height: 14px;
	margin: 0 0 10px 0;
	padding: 0 0 0 16px; } 

blockquote .quotes {
	background:transparent url({URL_BASE}/index.php?p=cache&img=end_quote_small.gif) no-repeat scroll right bottom;
	padding: 0 15px 0 0; } 

.bullet_list ul {
	margin: 10px 0 10px 0;
	}

.bullet_list li {
	display: list-item;
	margin: 0 0 10px 20px;
	padding: 0;
	list-style-image: url({URL_BASE}/index.php?p=cache&simg=bullet1.gif);
	list-style-type: disc;
	list-style-position: outside;
	border: none;
	}

hr { border: none 0;
	margin: 0;
	border-top: 1px solid #{CLR_EDGES2};
	height: 1px;
	}

.bump10 {padding:10px;}

.bump4 {padding: 4px;}

.clearfix {display:inline-block;}

.float_left {float: left;}

.float_right {float: right;}


/*********************************
2)  GLOBAL LAYOUT STRUCTURE
*********************************/

#header {
	width: 760px;
	height: 72px;
	display: inline-block;
	/* background: url(http://host.newscloud.com/facebook/images/spacer.gif) top left repeat;*/
	margin: 0 0 15px 0;
	position: relative;
	border-bottom: 2px solid #{CLR_EDGES1};
	}
	
#header h1 { display:inline;float:left;font-size:32px;margin:5px;}

#header h1 a {text-decoration:none;}

#pageBody {
	clear: both;
	width: 760px;
	display: inline-block;
	margin: 0px;
	}

#col_left {
	clear: both;
	width: 500px;
	float: left;
	margin: 0px 0px 15px 0px;
	}

#col_right {
	width: 245px;
	float: right;
	margin: 0px 0px 15px 0px;
	}

#footer {
	clear: both;
	display: block;
	width: 740px;
	padding: 5px 10px;
	margin-bottom: 2px;
	background-color: #{CLR_KEY1};
	}


/*********************************
2a)  HEADER
*********************************/

.dh_links {
	float: right;
	margin:	10px;
	padding: 0px 0px 5px 0px;
	width: auto;
	}

.dh_links a {
	color: #{CLR_LINKS};
	}

.share_and_hide a { color: #{CLR_LINKS}; }

#header .pipe {
	margin: 0 5px;
	color: #{CLR_BODY};
	}


/*********************************
2b)  FOOTER
*********************************/

#footer .dh_links {
	float: left;
	margin:	0px;
	padding: 0px;
	color: #{CLR_UTILITY};
	}

#footer .dh_links a { color: #{CLR_LINKS}; }

.powered {
	clear: both;
	float: right;
	margin: 2px 0 0 0;
	padding: 2px 5px 4px 4px;
	color: #{CLR_EDGES1};
	background: #{CLR_UTILITY};
	font-size: 10px;
	line-height: 1.4em;
	}

.powered a {
	color: #{CLR_EDGES1};
	}

a.powered:hover {
	color: #{CLR_LINKS};
	text-decoration: none;
	}

.powered .label {
	font-family: "arial black",arial,"lucida grande",tahoma,verdana,sans-serif;	
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 2px;
	color: #{CLR_LINKS};
	line-height: 1.2em;
	}


/*********************************
3)  SPECIAL LINKS
*********************************/

.rss_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_rss.png) left no-repeat;
	padding: 3px 0 3px 18px;
	}

.twitter_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_twitter.gif) left no-repeat;
	padding: 3px 0 3px 18px;
	}

.newscloud_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_newscloud.gif) left no-repeat;
	padding: 3px 0 3px 20px;
	}

.grist_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_grist.gif) left no-repeat;
	padding: 3px 0 3px 20px;
	}

/**************************/
/* 4a) NEW NAV "TABS" */
/**************************/

#nav {
	margin: 0 4px;
	padding: 0;
	width: auto;
	overflow: visible;
	position: absolute;
	right: 0px;
	bottom: -2px; }

#nav .selected {
	background: #fff;
	border-top: solid 1px #{CLR_EDGES1};
	border-right: solid 1px #{CLR_EDGES1};
	border-bottom: solid 2px #fff;
	border-left: solid 1px #{CLR_EDGES1};
	margin-top: -1px; }

#nav .selected:hover {
	cursor: text;
	text-decoration: none;
	background: #fff; }

ul#nav-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 1em; }

ul#nav-tabs li {
	margin: 0 2px;
	padding: 0;
	display: block;
	width: auto;
	float: left;
	position: relative;
	background-color: #{CLR_KEY2}; }

ul#nav-tabs li a:link,
ul#nav-tabs li a:visited {
	padding: 5px 10px 5px 10px;
	display: block;
	width: auto;
	text-align: center;
	text-decoration: none;
	color: #{CLR_LINKS};	}

ul#nav-tabs li a:hover,
ul#nav-tabs li a:active {
	text-decoration: none;
	background: #{CLR_KEY1}; }

#nav2 {
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	position: relative;
	left: 0px;
	display: inline-block;
	width: 100%;
	border-bottom: solid 2px #{CLR_LINKS}; }

#nav2 a.selected:link, #nav2 a.selected:visited {
	color: #fff;
	background: #{CLR_LINKS}; }

#nav2 .selected:hover {
	cursor: text;
	text-decoration: none;
	background: #{CLR_LINKS}; }

ul#nav2-tabs {
	margin: 4px;
	padding: 0;
	list-style: none;
	font-size: 10px;
	font-weight: bold;
	line-height: 1em; }

ul#nav2-tabs li {
	margin: 0 2px;
	padding: 0;
	display: block;
	width: auto;
	float: left;
	position: relative;
	background-color: #{CLR_KEY2}; }

ul#nav2-tabs li a:link,
ul#nav2-tabs li a:visited {
	padding: 5px 10px 5px 10px;
	display: block;
	width: auto;
	text-align: center;
	text-decoration: none;
	color: #{CLR_LINKS}; }

ul#nav2-tabs li a:hover,
ul#nav2-tabs li a:active {
	text-decoration: none;
	background: #{CLR_KEY1}; }



/*********************************
4a)  NAV TABS
*********************************/

#pageTabs {
	width: 100%;
	height: 22px;
	position: relative;
	top: -22px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
	overflow: visible;
	border: none; }

.ie6 #pageTabs, .ie7 #pageTabs {
	top: -24px;}

#pageTabs .tabs {
	border-bottom: 2px solid #{CLR_EDGES1};
	width: 100%;
	height: 18px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; }

.ie6 .tabs, .ie7 .tabs {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;}

.ff2 .tabs {
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 0px 0px;}

.tabs.top {background:#f7f7f7;}

.tabs .left_tabs {
	float: left;
	padding-left: 10px;
	}

.tabs .right_tabs {
	float: right;
	padding-right: 8px;
	}

.tabs .back_links { padding-right:20px; float:right;}

.toggle_tabs {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 23px;
	text-align: center;
	}

.ie6 .toggle_tabs, .ie7 .toggle_tabs { margin-bottom: 0px;}

.toggle_tabs li { display:inline;
	padding: 0px 0px 0px 0px;
	margin: 0 2px 0 2px;
	overflow: hidden;
	}

.ie6 .toggle_tabs li, .ie7 .toggle_tabs li {background-position: 0 3px;}

.ff2 .toggle_tabs li { line-height: 2em; }

.toggle_tabs li a, .toggle_tabs li.first a {
	margin: 0px 0px 0px 0px;
	padding: 3px 10px 4px 10px;
	height: 21px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #{CLR_LINKS};
	font-weight: bold;
	font-size: 11px;
	line-height: normal;
	background-color: #{CLR_KEY2};
	display: inline; }

.ie6 .toggle_tabs li a, .ie7 .toggle_tabs li a {display:inline-block;}

.toggle_tabs li a:focus { outline: 0px;}

.toggle_tabs li a.selected, .toggle_tabs li.first a.selected {
	margin: 0px 0px 0px 0px;
	padding: 3px 10px 4px 10px;
	height: 23px;
	border-top: solid 1px #{CLR_EDGES1};
	border-right: solid 1px #{CLR_EDGES1};
	border-bottom: solid 2px #fff;
	border-left: solid 1px #{CLR_EDGES1};	
	background: #fff;
	color: #{CLR_LINKS}; }

.toggle_tabs li a.selected:hover { text-decoration:none;}
.toggle_tabs li a.disabled { color:#{CLR_EDGES1}; cursor:default;}
.toggle_tabs li a.disabled:hover { text-decoration:none;}


/*********************************
4b)  SUBNAV TABS
*********************************/

#subNav {
	clear: both;
	width: 100%;
	height: 1.5em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	overflow: visible;
	border-bottom: none;
	}

.ff2 #subNav {
	overflow: visible; }

#subNav.tabs {
	border-bottom: 2px solid #{CLR_LINKS};
	width: 100%;
	margin: 0px 0px 3px 0px;
	padding: 0px 0px 0px 0px; }


#subNav .toggle_tabs {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	text-align: center;
	}

#subNav .toggle_tabs li { display:inline;
	padding: 0px 0px 0px 0px;
	margin: 0 2px 0 2px;
	overflow: hidden;
	}

#subNav .toggle_tabs li a {
	margin: 0px 0px 0px 0px;
	padding: 2px 10px 3px 10px;
	height: 14px;
	border: none;
	color: #{CLR_LINKS};
	font-weight: bold;
	font-size: 11px;
	background: #{CLR_KEY2};
	display: inline; }

#subNav .toggle_tabs li a.selected {
	margin: 0px 0px 0px 0px;
	background: #{CLR_LINKS};
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	color: #fff;
	}

#subNav .toggle_tabs li a.selected:hover { text-decoration:none;}
#subNav .toggle_tabs li a.disabled { color:#{CLR_EDGES1}; cursor:default;}
#subNav .toggle_tabs li a.disabled:hover { text-decoration:none;}

#attachTabs {
	margin-bottom: none;}

#attachTabs .tabs {
	border-bottom: none;
	width: 100%;
	padding: 4px 0 3px 0;
	}

#attachTabs .toggle_tabs li { display:inline;
	padding: 3px 0px 3px 0;
	margin: 0 0 0 0;
	background: #{CLR_EDGES2};
	}

#attachTabs .toggle_tabs li a {
	border: 1px solid #{CLR_EDGES2};
	border-bottom: #{CLR_EDGES2};
	background: inherit;
	color: #105576;
	font-weight: normal;
	font-size: 11px;
	padding: 2px 10px 3px 28px;}

#attachTabs .toggle_tabs li a.selected {
	background: #fff;
	border: 1px solid #{CLR_EDGES2};
	border-bottom: 1px solid #fff;
	color: #105576;
	margin-left: 0;}

#attachTabs .toggle_tabs li a.selected.photo_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_photo.gif) 4px no-repeat #fff;}

#attachTabs .toggle_tabs li a.photo_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_photo.gif) 4px no-repeat;
	}

#attachTabs .toggle_tabs li a.selected.video_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_video.gif) 4px no-repeat #fff;}

#attachTabs .toggle_tabs li a.video_link {
	background: url({URL_BASE}/index.php?p=cache&img=icon_video.gif) 4px no-repeat;
	}

#attachTabs .toggle_tabs li a.selected:hover { text-decoration:none;}
#attachTabs .toggle_tabs li a.disabled { color:#{CLR_EDGES1}; cursor:default;}
#attachTabs .toggle_tabs li a.disabled:hover { text-decoration:none;}

.attachBox {
	border: 1px solid #{CLR_EDGES2};	
	padding: 10px;
	clear: both;}



/*********************************
5)  SPECIAL PANELS
*********************************/

#featurePanel {
	padding: 0px 0px 10px 0px;
	background-color: #{CLR_UTILITY};
	margin-bottom: 15px;
	display: block;
	}

#featurePanel h1 { font-size: 20px;
	font-family: {FONTS_HEADS};
	font-weight: bold;
	margin: 10px 0 6px 0;
	padding: 0px;
	}

#featurePanel h1 a { color: #{CLR_LINKS}; }

.featured_story {
	clear: both;
	padding: 10px 10px 0px 10px;
	}

.featured_story_half {
	width: 230px;
	float: left;
	margin: 10px 10px 0 10px;
	}

#featurePanel .panelBar {
	border-top: 1px solid #{CLR_EDGES1};
	background: #{CLR_KEY1};
	display: block;
	}

#featurePanel .thumb {
	float: left;
	margin: 0px 20px 10px 0px;
	}

#featurePanel .thumb img {
	max-width: 180px;
	max-height: 135px;
	}

#col_left .featured_story_half .storyBlockWrap {
	clear: both;
	width: 230px;
	margin: 0px;
	}

#col_left #featurePanel .storyBlockWrap {
	float: left;
	width: 280px;
	margin: 0px;
	}

.related_story { clear: both; }

#featurePanel .more_link, #introPanel .more_link, #rewardGrid .more_link {
	color: #{CLR_LINKS};
	font-family:{FONTS_MAIN};
	font-size: 11px;
	font-weight: bold;
	}

#featurePanel .slot {
	float: left;
	width: 40px;
	height: 30px;
	margin: 0 10px 10px 0;
	}

#readStoryList {
	clear: both;
	display: inline-block;
	}

#readBlog {
	clear: both;
	display: inline-block;
	margin:5px;
	}

#readVideo {
	clear: both;
	margin:5px;
	text-align:center;
}

#videoPreview {
	text-align:center; 
	height: 130px;
	margin:5px;
}

#videoPreviewMsg {
	position: relative; top: 45px;
}

#col_left #readStoryList .storyBlockWrap, #teamWrap #readStoryList .storyBlockWrap{
	float: left;
	width: 300px;
	margin: 10px 0px 0px 0px;
	}

#readStoryList .thumb {
	float: left;
	margin: 0px 20px 20px 0px;
	}

#readStoryList .thumb img {
	/* djm again */
	max-width: 180px;
	max-height: 135px;
}

#readStoryList .storyCaption {
	clear: both;
	font-size: 12px;
	}

#readStoryList .videoIntro {
	clear: both;
	text-align:center;
	margin:5px 0px 0px 0px;
	}

#readStoryList .btn_1 {
	float: right;
	margin: 6px 10px 20px 10px;
	}

#readStoryList .panel_block {
	padding: 0px 0px 3px 0px;}

#myProfile {
	clear: both;
	display: inline-block;
	}

#col_left #myProfile .storyBlockWrap {
	float: left;
	width: 300px;
	margin: 10px 0px 0px 0px;
	}

#myProfile .thumb {
	float: left;
	margin: 0px 20px 20px 0px;
	}

.panel_block {
	clear: both;
	display: inline-block;
	padding: 10px 0px 3px 0px;}

.panel_half {
	display: inline-block;
	margin: 10px;
	}

.friend {
	float: left;
	margin: 0px 5px;}

#col_left #commentThread .storyBlockWrap {
	float: left;
	width: 420px;
	margin: 0px;
	}

.comments {
	width: 480px;
	margin: 10px;
	}

.formfield {
	padding: 5px;
	border: solid 1px #{CLR_EDGES1};
	}

#commentThread .btn_1 {
	float: right;
	margin: 0 10px 10px 0;
	border: none;
	display: block;
	}

#postComment .btn_1 {
	float: right;
	margin: 0 10px 10px 0;
	border: none;
	display: block;
	}

#introPanel {
	padding: 12px 18px 6px 18px;
	margin: 0 0 15px 0;
	background-color: #{CLR_KEY2};
	border: solid 1px #{CLR_KEY1};
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#introPanel p {
	color: #{CLR_BODY};
	}

#teamPanel { 
	padding: 0 0 0 0;
	margin: 0 0 15px 0;
	overflow: auto;
	display: inline-block;
	background: url({URL_BASE}/index.php?p=grad&color1={CLR_LINKS}&color2={CLR_KEY3}&size=200) repeat-x top #{CLR_KEY3};
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#teamPanel a:link, #teamPanel a:visited { color: #8fa7cc; }

#teamPanel h1 {
	font-family: {FONTS_HEADS};
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	margin: 0 72px 10px 0;
	padding: 0px;
	color: #fff;
	}

#teamWrap {
	margin: 10px 0 15px 0;
	}

#teamPanel .thumb {
	width: 320px;
	margin: 0 20px 0 0;
	}
#teamPanel .thumb #hideTip {
	margin-top: 15px;
	}

#teamPanel .storyBlockWrap {
	float: left;
	width: 400px;
	margin: 10px 0px 0px 0px;
	}

#teamPanel .btn_1, #teamPanel a.btn_1:link, #teamPanel a.btn_1:visited {
	margin: 10px 0 10px 0;
	color: #fff;
	}

#rewardsHead {
	padding: 10px;
	margin: 0 0 15px 0;
	display: inline-block;
	background: #{CLR_KEY2};
	border: 1px solid #{CLR_KEY1};
	}

#rewardsHead .storyBlockWrap {
	float: left;
	width: 290px;
	margin: 0px;
	}

#rewardGrid {
	clear: both;
	display: inline-block;
	padding: 5px 0px 15px 0px;
	}

.gridBlock {
	float: left;
	margin: 5px;
	padding: 5px;
	width: 168px;
	height: 168px;
	overflow: hidden;
	border: 1px solid #{CLR_EDGES2};
	}

.gridBlock .panel_block {
	margin: 0;
	padding: 0;
	}

.gridBlock .thumb {
	float: left;
	margin: 0px 5px 10px 0px;
	}

.gridBlock .thumb img {
	max-width: 90px;
	max-height: 50px;
	}

.gridBlock .storyBlockWrap {
	float: left;
	width: 72px;
	margin: 0px;
	padding: 20px 0 0 0;
	}

.gridBlock .storyHead {
	clear: both;
	}

#teamIcon {
	padding: 10px;
	background: url({URL_BASE}/index.php?p=cache&simg=bg_team.gif) top right no-repeat;
	overflow: auto;
	}

.pointValue {
	color: #{CLR_KEY4};
	font-size: 11px;
	font-weight: bold;
	}

.pts {
	text-transform: uppercase;
	font-size: 9px;
	}

.userLevel0 {
	font-weight: normal;
	font-size: 9px;
	padding: 1px 2px;
	color: #cc99cc;
	background: url({URL_BASE}/index.php?p=cache&img=user_reader.gif) center repeat-x; }

.userLevel1 {
	font-weight: normal;
	font-size: 9px;
	padding: 1px 2px;
	color: #cb4d01;
	background: url({URL_BASE}/index.php?p=cache&img=user_contributor.gif) center repeat-x;	}

.userLevel2 {
	font-weight: normal;
	font-size: 9px;
	padding: 1px 2px;
	color: #996633;
	background: url({URL_BASE}/index.php?p=cache&img=user_bronze.gif) center repeat-x;	}

.userLevel3 {
	font-weight: normal;
	font-size: 9px;
	padding: 1px 2px;
	color: #{CLR_EDGES1};
	background: url({URL_BASE}/index.php?p=cache&img=user_silver.gif) center repeat-x;	}

.userLevel4 {
	font-weight: normal;
	font-size: 9px;
	padding: 1px 2px;
	color: #cc9900;
	background: url({URL_BASE}/index.php?p=cache&img=user_gold.gif) center repeat-x;	}

.userLevel5 {
	font-weight: normal;
	font-size: 9px;
	padding: 1px 2px;
	color: #80aac0;
	background: url({URL_BASE}/index.php?p=cache&img=user_platinum.gif) center repeat-x;	}


#actionLegend {
	padding: 10px;
	margin: 0 0 15px 0;
	background: url({URL_BASE}/index.php?p=grad&color1=ffffff&color2={CLR_KEY1}&size=100) repeat-x top #{CLR_KEY1};
	}

#actionLegend .btn_1 { margin: 0 0 10px 20px; float: right; }

#actionLegend .pointsTable { margin: 10px 0 0 0; }

#wideTipPanel,.wideMsgPanel {
	padding: 0px;
	margin: 0 0 15px 0;
	display: inline-block;
	background: #{CLR_KEY2};
	border: 1px solid #{CLR_KEY1};
	}

#wideTipPanel .wideTipLeft {
	float: left;
	display: inline;
	padding: 10px 10px 0px 10px;
	margin: 0;
	width: 228px;
	}

#wideTipPanel .wideTipRight {
	float: right;
	display: inline;
	padding: 10px;
	margin: 0;
	width: 230px;
	}

#leaderWeeklyRewardBlock /* hack by djm */ 
{
	clear: both;
}


/*********************************
6)  REUSABLE LAYOUT PANELS
*********************************/

/* Different colored panel shells, depending on conent:
BLUE "panel_1" div wraps general content panels
ORANGE "panel_2" div wraps Action Team specific panels

These wrappers cascade to tell .panelBar to which background to use for the title bar, and add a border-bottom. */

.panelBar {
	width: 100%;
	display: block;
	}

.panel_1 {
	border-bottom: 1px solid #{CLR_EDGES1};
	margin-bottom: 15px;
	display: block;
	}

.panel_2 {
	border-bottom: 1px solid #{CLR_EDGES1};
	margin-bottom: 15px;
	display: block;
	}

.panel_1 .panelBar {
	border-top: 1px solid #{CLR_EDGES1};
	background: #{CLR_KEY1};
	}

.panel_2 .panelBar {
	border-top: 1px solid #{CLR_EDGES1};
	background: #{CLR_KEY1};
	}

.panelBar h2 {
	font-family: {FONTS_HEADS};
	float: left;
	padding: 2px 6px 4px 6px;
	margin: 0;
	color: #{CLR_KEY4};
	font-weight: bold;
	font-size: 11px;
	}

.panelBar h2 a {
	color: #{CLR_LINKS};
	font-weight: bold;
	font-size: 11px;
	}

.bar_link {
	float: right;
	margin: 3px 10px; }

.bar_link a { color: #{CLR_LINKS}; }

.pipe {
	margin: 0 5px;
	color: #{CLR_BODY};
	}

.subtitle, .subFilter  {
	clear: both;
	font-size: 10px;
	color: #{CLR_BODY};
	background-color: #{CLR_UTILITY};
	border-top: none;
	border-bottom: 1px solid #{CLR_EDGES2};
	padding: 4px 10px 4px 10px;
	}

.subFilter a {
	padding: 1px 5px 2px 5px;
	color: #{CLR_LINKS};
	margin-left: 4px;
	}

.subFilter .selected {
	color: #fff;
	padding: 1px 5px 2px 5px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #{CLR_LINKS};
	}


/*********************************
7)  BUTTONS
*********************************/

.btn_1 {
	color: #fff;
	font-weight: bold;
	padding: 3px 10px 4px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: url({URL_BASE}/index.php?p=grad&color1=9daccc&color2={CLR_LINKS}&size=12) repeat-x top #{CLR_LINKS};
	}

.btn_1_lg {
	font-size:14px;
	}

#col_right .btn_1 {
	display: block;
	text-align: center;
	margin: 10px;
	}

.btn_2 {
	margin: 0 1px;
	padding: 2px 10px 3px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #{CLR_UTILITY};
	}

.btn_left {
	margin: 0 1px;
	padding: 3px 8px 4px 8px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background: #{CLR_UTILITY};
	}

.voteLink {
	background: url({URL_BASE}/index.php?p=cache&simg=icon_vote.gif) left no-repeat;
	padding-left: 15px;
	}

.btn_mid {
	margin: 0 1px;
	padding: 3px 8px 4px 8px;
	background: #{CLR_UTILITY};
	}

.btn_right {
	margin: 0 1px;
	padding: 3px 8px 4px 8px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #{CLR_UTILITY};
	}

.rating {
	margin: 0 0 10px 15px;
	display: block;
	float: left;
	height: 16px;
	}

.rate_up {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 0 0 10px;
	background: url({URL_BASE}/index.php?p=cache&img=icon_thumbs.gif) top left no-repeat;
	}

.rate_up:hover {
	background: url({URL_BASE}/index.php?p=cache&img=icon_thumbs.gif) center left no-repeat;
	}

.rate_up_on {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 0 0 10px;
	background: url({URL_BASE}/index.php?p=cache&img=icon_thumbs.gif) bottom left no-repeat;
	}

.rate_down {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 10px;
	background: url({URL_BASE}/index.php?p=cache&img=icon_thumbs.gif) top right no-repeat;
	}

.rate_down:hover {
	background: url({URL_BASE}/index.php?p=cache&img=icon_thumbs.gif) center right no-repeat;
	}

.rate_down_on {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0 10px 0 10px;
	background: url({URL_BASE}/index.php?p=cache&img=icon_thumbs.gif) bottom right no-repeat;
	}

.flag {
	display: block;
	float: left;
	color: #{CLR_KEY4};
	height: 16px;
	margin: 0 0 0 10px;
	border-left: 1px solid #{CLR_EDGES2};
	padding-left: 30px;
	background: url({URL_BASE}/index.php?p=cache&img=icon_flag.gif) 10px top no-repeat;
	}

a.flag:hover {
	color: #cc3333;
	background: url({URL_BASE}/index.php?p=cache&img=icon_flag.gif) 10px center no-repeat;
	}

.flag_on {
	display: block;
	float: left;
	color: #cc3333;
	height: 16px;
	margin: 0 0 0 10px;
	border-left: 1px solid #{CLR_EDGES2};
	padding-left: 30px;
	background: url({URL_BASE}/index.php?p=cache&img=icon_flag.gif) 10px bottom no-repeat;
	}



/*********************************
8)  CONTENT LISTS
*********************************/

ul {
	list-style-type:none;
	margin: 0;
	padding: 0;
	}

li {
	display: inline-block;
	list-style-type:none;
	margin: 0;
	padding: 10px 0 3px 0;
	}

#newswireWrap ul li, .list_rewards ul li, #feedList ul li {
	clear: both;
	}

.panel_1 ul li {
	clear: both;
	float: left;
	border-bottom: 1px solid #{CLR_EDGES2};
	}

.panel_2 ul li {
	clear: both;
	float: left;
	border-bottom: 1px solid #{CLR_EDGES2};
	}

.thumb {
	float: left;
	margin: 0px 20px 10px 0px;
	}

.avatar {
	float: left;
	margin: 0px 10px 0px 0px;
	}

.feed_poster {
	margin: 0;
	min-height: 36px;
	}

.feed_poster h3 {
	padding-top: 7px;
	color: #{CLR_BODY};
	}

.storyHead {
	font-size: 14px;
	font-weight: bold;
	font-family: {FONTS_HEADS};
	}

#col_left .storyBlockWrap {
	width: 390px;
	float: right;
	}

#col_right .storyBlockWrap {
	width: 185px;
	float: right;
	}


/* Stories List */

.list_stories .thumb img {
	/*width: 90px; djm - fix for awkward reward image sizes, will break ie 6*/
	max-width: 90px;
	max-height: 90px;
	}

.profilePic {
	float: left;
	margin: 0px 10px 0px 0px;
	}

.profilePicLarger {
	float: left;
	margin: 0px 10px 0px 0px;
	}

.list_stories .profilePic img {
	width: 30px;
	height: 30px;
	}

.list_stories .profilePicLarger img { /* djm: need a small profile pic for action feed that doesnt override fb pic sizes */
	/*width: 30px;
	height: 30px;*/
	}

.storyBlockMeta {
	color: #{CLR_EDGES1};
	padding-bottom: 7px;
	margin: 0;
	}

.storyCommands table {
	margin: 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	}

.storyCommands td {
	margin: 0;
	padding: 3px 8px 4px 8px;
	}

.storyCommands .commentLink {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	}

/* Rewards List */

#col_right .thumb {
	float: left;
	margin: 0px 10px 0px 0px;
	}

.top_reward {
	padding: 10px 10px 3px 10px;
	margin: 0;
	background: url({URL_BASE}/index.php?p=grad&color1=ffffff&color2={CLR_KEY1}&size=100) repeat-x top #{CLR_KEY1};
	}

.top_reward .thumb {
	float: left;
	margin: 0px 10px 0px 0px;
	}

#col_right .top_reward .storyBlockWrap {
	width: 125px;
	float: right;
	}


/*********************************
9)  FACEBOOK PUBLISHER / ATTACH
*********************************/

/*moved to publisher.css*/

/*********************************
10)  TABLES
*********************************/

.pointsTable table {
	clear: both;
	margin: 0;
	background: #fff;
	color: #{CLR_BODY};
	width: 100%;
	border-bottom: 1px solid #{CLR_KEY1};
	}

.pointsTable td {
	border-top: 1px solid #{CLR_KEY1};
	margin: 0;
	padding: 3px 5px 4px 10px;
	}

.pointsTable_profile table {
	clear: both;
	margin: 0 0 10px 0;
	width: 100%;
	border-bottom: 1px solid #{CLR_KEY1};
	}

.pointsTable_profile td {
	border-top: 1px solid #{CLR_KEY1};
	margin: 0;
	padding: 3px 10px 4px 0px;
	}

.historyTable table {
	clear: both;
	margin: 0;
	width: 100%;
	text-align: left;
	border-bottom: none;
	}

.historyTable table th {
	font-size: 10px;
	font-weight: normal;
	color: #{CLR_BODY};
	background-color:#{CLR_EDGES2};
	margin: 0;
	padding: 2px 5px 3px 10px;
	}

.historyTable td {
	border-top: 1px dashed #{CLR_EDGES2};
	margin: 0;
	padding: 3px 5px 4px 10px;
	}

 
/* My Profile Summary */

#profileSummary {
	background: url({URL_BASE}/index.php?p=grad&color1=ffffff&color2={CLR_KEY1}&size=100) repeat-x top #{CLR_KEY1};
	}

#profileSummary .panel_block {
	padding: 10px;
	margin: 0;
	}

#profileSummary .thumb {
	float: left;
	margin: 0px 10px 10px 0px;
	}

#profileSummary .storyBlockWrap {
	width: 165px;
	margin-bottom: 3px;
	}

#profileSummary .pointsTable_profile table {
	clear: both;
	margin: 0 0 0 0;
	width: 225px;
	border-bottom: 1px solid #{CLR_KEY1};
	}

#profileSummary .pointsTable_profile td {
	border-top: 1px solid #{CLR_KEY1};
	border-bottom: none;
	margin: 0;
	padding: 3px 0px 4px 5px;
	background-color: #fff;
	}


/* Bookmarklet Panel (styles replicated in templates/bookmarklet.php)

#bookmarkletPanel {
	padding: 10px 10px 3px 10px;
	margin: 0 0 5px 0;
	background: url({URL_BASE}/index.php?p=cache&simg=grad_bg_team.png) top repeat-x #{CLR_EDGES2};
	}

#bookmarkletPanel p {
	font-size:11px;
	text-align:left;
	margin: 0 0 7px 0;
	padding: 0px;
	color: #fff;
	}

#bookmarkletPanel h2 {
	font-family: {FONTS_MAIN};
 	font-size: 14px;
	font-weight: bold;
	margin: 0 0 6px 0;
	padding: 0;
	color: #fff;
	}

#bookmarkletPanel .btn_1 {
	display: inline;
	padding: 5px 12px 6px 12px;
	color: #fff;
	font-weight: bold;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: url({URL_BASE}/index.php?p=cache&simg=btn_1.png) top repeat-x #073e84;
	font-size:14px;
	text-decoration:none;
	}

#bookmarkletDemo {
	width: 225px;
	height: 26px;
	padding: 70px 0 0 0;
	margin: 15px 0 10px 0;
	background: url({URL_BASE}/index.php?p=cache&simg=bookmarklet-demo.png) top left no-repeat;
	}
*/

/*********************************
11)  PROFILE BOX
*********************************/


#profileBox {
	margin: 0;
	padding:0;
	font-size: 10px;
	}

#profileBox .btn_1 {
	display: block;
	text-align: center;
	font-size: 9px;
	margin: 10px;
	}


#profileBox .pointsTable_profile table {
	clear: both;
	font-size: 9px;
	margin: 0;
	width: 100%;
	}

#profileBox .pointsTable_profile td {
	font-size: 9px;
	margin: 0;
	padding: 3px 3px 4px 0px;
	border-bottom: none;
	}

#profileBox h1, #profileBox h1 a {
	color: #{CLR_LINKS};
	font-size: 11px;
	font-weight: bold;
	}

.box_intro {
	margin: 0 0 10px 0;
	padding: 0px 8px 3px 8px;
	width: 170px;
	background: url({URL_BASE}/index.php?p=cache&simg=bg_team2.gif) top right no-repeat #{CLR_EDGES2};
	}
.box_intro p {
	font-size: 10px;
	}

#profileBox .box_intro h1, #profileBox .box_intro h1 a {
	color: #{CLR_LINKS};
	font-size: 12px;
	font-weight: bold;
	margin-right: 54px;
	}

.microTabs  {
	clear: both;
	font-size: 10px;
	color: #{CLR_BODY};
	background-color: #{CLR_KEY2};
	border-bottom: 1px solid #94a3c4;
	padding: 2px 0;
	}

.microTabs a {
	padding: 1px 5px 2px 5px;
	}

.microTabs .selected {
	color: #fff;
	padding: 1px 5px 2px 5px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #94a3c4;
	}

.microFeed { }

.microFeed .thumb {
	margin: 0 8px 8px 0;
	}

.microFeed .thumb img { width: 50px; }

.microFeed li {
	padding: 8px 0 0 0;
	border-bottom: 1px solid #{CLR_KEY1};
	}

.microFeed .storyBlockWrap {width: 184px;}

/*********************************
12)  RESOURCES LIST
*********************************/


.colFull_half {
	width: 360px;
	float: left;
	margin: 0 10px;
	}

.resourceList {
	clear: both;
	margin-bottom: 10px;
	display: inline-block;
	}

.resourceList ul {
	margin: 10px 0 10px 20px;
	}

.resourceList li {
	clear: both;
	display: list-item;
	margin: 0 0 10px 40px;
	padding: 0;
	list-style-image: url({URL_BASE}/index.php?p=cache&simg=bullet1.gif);
	list-style-type: disc;
	list-style-position: outside;
	border: none;
	}

.resourceList li.thumb {
	list-style: none;
	height: 60px;
	margin: 0 0 10px 20px;
	}

.resourceList .thumb img {
	height: 50px;
	padding: 0 10px 10px 0;
	vertical-align: middle;
	float: left;
	}

.resourceList .thumb a {
	display: inline;
	position: relative;
	top: 10px;
	margin: 0 0 20px 0;
	font-size: 12px;
	font-weight: bold;
	}

.resourceList .thumb .meta {
	font-size: 11px;
	font-weight: normal;
	}


/*****************
13)  FORMS
******************/
.process {background: white url('{URL_BASE}/index.php?p=cache&simg=vertical_bg_animation.gif') top left repeat;opacity: .5;}
.attachment_stage{width:360px;}
.attachment_stage{border-top:1px solid #{CLR_EDGES2};border-bottom:1px solid #{CLR_EDGES2};background-color:#{CLR_UTILITY};}
.formErrorText {font-weight: bold; color: #cb4d01;}
.inputText {width:400px;}

.inputTextShort {width:250px;}

.inputTextarea {width:400px;height:160px;}
.inputTextareaShort {width:400px;height:80px;}


/*****************
14)  ADS
******************/
.adWideBanner {
	text-align:center;
	margin:0px 0px 10px 0px;
}


/*****************
15)  TAGS // via http://webdesign.about.com/od/csstutorials/a/aa011407.htm
******************/
#tag_cloud {margin: 0;clear:left;}
#tag_cloud { padding: 2px; line-height: 2em; text-align: center; }
#tag_cloud li { display: inline;float:none;border-bottom:none; }
#tag_cloud a { padding: 0px; }
#cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
#cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
#cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
#cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
#cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
#cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
#cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
#cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
#cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
#cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

#accountAgeSpecificOptInText {display:none;}
.inputLinkNoBorder {border:none;width:100%;}


/*****************
16) IMAGE STRIPS
******************/
.imageStrip {float:left;width:500px;height:70px; overflow:hidden;margin-bottom:10px;}
.imageStripPanel {position:relative;left:0px;width:6000px;margin-top:10px;}
.imageStripPanel img {width:65px;height:auto;max-height:65px;margin-left:5px;border:solid 1px #D2D2D2;}
#mediaPro_left {
	clear: both;
	width: 225px;
	float: left;
	margin: 0px 0px 15px 0px;
	}
	
#mediaPro_left img {max-width:200px;}

#mediaPro_right {
	width: 275px;
	float: right;
	margin: 0px 0px 15px 0px;
	}
	
.mediaGrid {
	float: left;
	margin: 0px;
	padding: 5px;
	width: 250px;
	height: auto;
	overflow: hidden;
	border: 1px solid #{CLR_EDGES2};
	}

.mediaGrid .thumb {
	float: left;
	margin: 0px 5px 5px 0px;
	}

.mediaGrid .thumb img {
	max-width: 75px;
	max-height: 75px;
	padding:0px;
	margin:0px;
	}

.mediaGrid .thumb img.selected {
	border:2px solid red;
	padding:1px;
}

