.pages {
    padding: 10px;
    clear: both;
	display: inline-block;
    border: 0 0 0 0;
    margin: 0 0 0 0;
	}
.pages a, .pages span {
    display: block;
    float: left;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #fff;
    background: #fff;
	}
.pages span.current, .slides span.current {
    border: 1px solid #cb4d01;
    font-weight: bold;
    background: #cb4d01;
    color: #fff;
	}
.pages a {
    border: 1px solid #FFD3AA;
    text-decoration: none;
	color: #cb4d01;
	}
.pages a:hover {
    border-color: #cb4d01;
	}
.pages a.nextprev {
    font-weight: bold;
	}
.pages span.nextprev {
    color: #666;
	}
.pages span.nextprev {
	border: 1px solid #ddd;
	color: #999;
	}